---
// Tools
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// Compositions
import Stack from "../compositions/Stack.astro";
import Frame from "../compositions/Frame.astro";

// Components
import Text from "../ui/Text.astro";
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

// Assets

// Data

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { title, description, cover } = project.data;
---

<article class="archive-project-item">
  <Link href={`/projects/${project.slug}`}>
    <div class="wrapper">
      <Frame ratio="1:1" class="img-wrapper">
        <Image src={cover} alt="" />
      </Frame>
      <Stack space="space-3" class="info">
        <Heading
          tagName="h4"
          size={{ default: "h6", tablet: "h5" }}
          class="title font-heading color-secondary">{title}</Heading
        >
        <Text tagName="p" size="medium" class="color-dark-gray"
          >{description}</Text
        >
      </Stack>
      <div class="arrow-right">
        <Icon name="icon-arrow-right" size={32} />
      </div>
    </div>
  </Link>
</article>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .archive-project-item {
    --_offset: var(--space-4-fixed);

    margin: calc(var(--_offset) * -1);
    padding: var(--_offset);

    background-color: var(--color-accent);
    border-radius: var(--rounded-3xl);
    transition: background-color var(--transition-default);

    & a {
      width: 100%;
    }

    @media (--tablet-and-up) {
      --_offset: var(--space-5-fixed);
    }
  }

  .archive-project-item:hover {
    background-color: var(--color-primary-light);
  }

  .archive-project-item:not(:first-child)::before {
    content: "";
    display: block;
    /* padding-block-start: var(--space-7-fixed); */
    /* border-block-start: 1px solid var(--color-gray-200); */
  }

  /* Hide all items after 3rd item */
  .archive-project-item:nth-child(3) ~ .archive-project-item {
    display: none;
  }

  .wrapper {
    --_gap: var(--space-4-fixed);

    text-decoration: none;
    display: flex;

    gap: var(--_gap);
    align-items: center;

    @media (--tablet-and-up) {
      --_gap: var(--space-7-fixed);
    }
  }

  .archive-project-item:hover .info {
    transform: translateX(0.5rem);

    @media (--tablet-and-up) {
      transform: translateX(1rem);
    }

    @media (--laptop-and-up) {
      transform: translateX(2rem);
    }
  }

  .title {
    transition: color var(--transition-default);
  }

  .info {
    transition: transform 500ms var(--ease-out);
  }

  .img-wrapper {
    --_border-radius: var(--rounded-xl);
    --_img-size: 6.5rem;

    /* Keep image from stretching */
    flex-shrink: 0;

    width: var(--_img-size);
    border-radius: var(--_border-radius);
    align-self: flex-start;

    transition: filter 300ms var(--ease-out);

    @media (--tablet-and-up) {
      --_img-size: 12rem;
    }

    @media (--laptop-and-up) {
      --_border-radius: var(--rounded-2xl);
    }
  }

  .arrow-right {
    --_size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    align-self: flex-end;

    padding: var(--space-1-fixed);
    margin-inline-start: auto;

    color: var(--color-primary);

    background-color: var(--color-secondary);
    border-radius: 9999px;

    & svg {
      width: var(--_size);
      height: var(--_size);
      transform: rotate(-45deg);
      transition: transform var(--transition-default);
    }

    @media (--tablet-and-up) {
      --_size: 24px;

      align-self: auto;
    }

    @media (--laptop-and-up) {
      --_size: 28px;
    }
  }

  .archive-project-item:hover .arrow-right {
    & svg {
      transform: rotate(0deg);
    }
  }
</style>
