---
// Tools
import { getCollection } from "astro:content";

// Compositions
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
import ArchiveProjectCard from "./ArchiveProjectCard.astro";

// Data
const projects = await getCollection("projects", ({ data }) => !data.isDraft);

// TODO: How project should be sorted?
---

<Stack space="space-10">
  <Heading tagName="h3" size="h5" class="font-heading"
    >Реалізовані проекти</Heading
  >
  <Stack space="space-10">
    <div class="archive-projects-list">
      {
        projects
          .filter((project, index) => !project.data.isActive)
          .map((project) => {
            return <ArchiveProjectCard project={project} />;
          })
      }
    </div>

    <Link href="#" class="text-center" data-load-more>Дивитись більше</Link>
  </Stack>
</Stack>

<style>
  @import "@styles/03-utilities/breakpoints.css";

  .archive-projects-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-9-fixed);

    @media (--tablet-and-up) {
      gap: calc(var(--space-10-fixed) - 10px);
    }

    @media (--laptop-and-up) {
      gap: var(--space-10-fixed);
    }
  }

  [data-load-more][data-loaded] {
    display: none;
  }
</style>

<script>
  const archiveProjectsList = document.querySelector(
    ".archive-projects-list"
  ) as HTMLDivElement;

  const loadMore = document.querySelector(
    "[data-load-more]"
  ) as HTMLLinkElement;

  // Current visible items
  // Hides all items after first 3 in css using nth-child(3) selector
  let currentItems = 3;

  function handleClick(event: Event) {
    event.preventDefault();

    // Select all items
    const archiveItems = [...archiveProjectsList.children] as HTMLElement[];

    // Loop through visible items + 3
    for (let index = 0; index < currentItems + 3; index++) {
      // If item exists
      if (archiveItems[index]) {
        // Set display to block
        archiveItems[index].style.display = "block";
      }
    }

    // Add +3 to current visible items
    currentItems += 3;

    // If current items more or equal all visible items in the dom
    if (currentItems >= archiveItems.length) {
      // hide load more button
      loadMore.setAttribute("data-loaded", "true");
    }
  }

  loadMore?.addEventListener("click", handleClick);
</script>
