---
// Tools

// Compositions

// Components
import type { Lang } from "@/i18n/defaultLangOptions";
import Heading from "../ui/Heading.astro";
import Section from "../ui/Section.astro";

const currentLocale = Astro.currentLocale as Lang;
const title = currentLocale === "ua" ? "Наші проєкти" : "Our pojects";
---

<Section class="hero" isRoundBottom>
  <Heading tagName="h1" size="h3" class="color-primary">{title}</Heading>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .hero {
    --_padding: var(--space-9-fixed);
    /* --_hero-height: var(--header-height); */

    display: flex;
    justify-content: center;
    align-items: center;

    padding-block-start: calc(var(--_padding) + var(--header-height));
    padding-block-end: var(--_padding);

    background-color: var(--color-secondary);

    @media (--tablet-and-up) {
      --_padding: var(--space-10-fixed);
      /* --_hero-height: calc(19rem + var(--header-height)); */
    }

    @media (--laptop-and-up) {
      --_padding: var(--space-11-fixed);
      /* --_hero-height: calc(25rem + var(--header-height)); */
    }
  }
</style>
