---
import { parse } from "node-html-parser";
import MyIcon from "../ui/MyIcon.astro";
import { Icon } from "astro-icon/components";

const html = await Astro.slots.render("default");

const root = parse(html);
const listItems = root.querySelectorAll("li");

console.log(listItems);
---

<ul class="list" role="list">
  {
    listItems.map((item) => {
      return (
        <li class="list-item">
          <Icon name="icon-check" />
          <Fragment set:html={item.innerHTML} />
        </li>
      );
    })
  }
</ul>

<style>
  .list {
    & :global(svg) {
      color: var(--color-primary);
      width: 0.75em;
      height: 0.75em;
    }
  }

  .list-item {
    display: flex;
    gap: var(--space-2-fixed);
    align-items: baseline;
  }
</style>
