---
// Tools
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Marquee from "../ui/Marquee.astro";
import Text from "../ui/Text.astro";

// Translations
const currentLocale = Astro.currentLocale as Lang;
const text =
  currentLocale === "ua"
    ? "За підтримки донорів та партнерів"
    : "Supported by donors and partners";
---

<Center
  maxWidth="80rem"
  space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
>
  <div class="logos">
    <Stack space="space-6">
      <Text tagName="p" size="small" class="color-gray-400 text-center"
        >{text}</Text
      >

      <Marquee direction="left" space="space-8" duration="slow">
        <div class="marquee-inner marquee-logos">
          <slot />
        </div>
      </Marquee>
    </Stack>
  </div>
</Center>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .marquee-logos {
    & :global(svg),
    & :global(picture) {
      height: 100%;
      width: 175px;
    }

    & :global(img),
    & :global(picture) {
      object-fit: contain;
    }
  }
</style>

<script></script>
