---
import AutoFlex from "../compositions/AutoFlex.astro";
import AutoGrid from "../compositions/AutoGrid.astro";
import Center from "../compositions/Center.astro";
import Reel from "../compositions/Reel.astro";
import Stack from "../compositions/Stack.astro";
import Marquee from "../ui/Marquee.astro";
import Text from "../ui/Text.astro";
---

<Center
  maxWidth="80rem"
  space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
>
  <div class="logos">
    <Stack space="space-8">
      <Text tagName="p" size="small" class="color-gray-400 text-center"
        >За підтримки донорів та партнерів</Text
      >

      <!-- <Reel thumbColor="gray-200" trackColor="white" class="logos-reel">
        <slot />
      </Reel> -->

      <Marquee direction="left" space="space-8" duration="slow">
        <div class="marquee-inner marquee-logos">
          <slot />
        </div>
      </Marquee>
    </Stack>
  </div>
</Center>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .marquee-logos {
    & :global(svg) {
      height: 100%;
      width: 175px;
    }
  }

  /* .logos-reel {
    justify-content: center;

    & :global(svg) {
      height: 100%;
      min-width: 175px;
    }
  }

   .logos-reel.overflowing {
    justify-content: start;
  }  */

  /**
  * State
   */

  /* .logos-reel.mobile {
    display: grid;

    @media (--tablet-and-up) {
      display: none;
    }
  }

  .logos-reel.desktop {
    display: none;

    @media (--tablet-and-up) {
      display: flex;
    }
  } */
</style>

<script></script>
