---
// Build using this tutorial
// https://zellwk.com/blog/astro-fancy-list-item/

// Tools
import { parse } from "node-html-parser";
import { Icon } from "astro-icon/components";
import Stack from "../compositions/Stack.astro";

const html = await Astro.slots.render("default");

const root = parse(html);
const listItems = root.querySelectorAll("li");
---

<Stack space="space-2" tagName="ul" class="list" role="list">
  {
    listItems.map((item) => {
      return (
        <li class="result-item">
          <Icon name="icon-leaf-fill" />
          <Fragment set:html={item.innerHTML} />
        </li>
      );
    })
  }
</Stack>

<style>
  .result-item {
    display: flex;
    gap: var(--space-2-fixed);
    align-items: baseline;

    & :global(svg) {
      flex-shrink: 0;
      color: var(--color-primary);
      width: 0.75em;
      height: 0.75em;
    }
  }
</style>
