---
// Tools
import { Picture } from "astro:assets";

import Frame from "../compositions/Frame.astro";
import ArrowIcon from "../ui/ArrowIcon.astro";
import Center from "../compositions/Center.astro";
import Cluster from "../compositions/Cluster.astro";

// Compositions

// Components

// Data

type Props = {
  imagePaths: string[];
};
const { imagePaths } = Astro.props;

// Assets

// Collect all images in given path
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/projects/images/**/*.{jpeg,jpg}"
);

imagePaths.forEach((imagePath) => {
  const newPath = `/src/content/projects/${imagePath}`;

  if (!images[newPath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    );
});
---

<div class="single-slide-gallery">
  <div class="single-slide-swiper">
    <div class="swiper-wrapper">
      {
        imagePaths?.map((imagePath) => {
          const newPath = `/src/content/projects/${imagePath}`;

          return (
            <div class="swiper-slide">
              <Frame ratio="3:4" class="img-wrapper">
                <Picture
                  src={images[newPath]()}
                  width={1100}
                  formats={["avif", "webp"]}
                  alt=""
                  densities={[1.5, 2]}
                />
              </Frame>
            </div>
          );
        })
      }
    </div>

    <div class="swiper-navigation">
      <Center
        maxWidth="87.5rem"
        space={{ default: "space-6", tablet: "space-7" }}
      >
        <Cluster space="space-10" alignItems="center" noWrap>
          <div class="swiper-buttons">
            <div class="swiper-button swiper-button-prev">
              <ArrowIcon
                style="primary"
                direction="left"
                class="swiper-button"
              />
            </div>
            <div class="swiper-button swiper-button-next">
              <ArrowIcon style="primary" />
            </div>
          </div>
        </Cluster>
      </Center>
    </div>
  </div>
</div>
