---
import ArrowIcon from "../ui/ArrowIcon.astro";
---

<div class="swiper-buttons">
  <div class="swiper-button swiper-button-prev">
    <ArrowIcon style="primary" direction="left" class="swiper-button" />
  </div>
  <div class="swiper-button swiper-button-next">
    <ArrowIcon style="primary" />
  </div>
</div>

<style>
  .swiper-buttons {
    display: flex;
    gap: var(--space-2-fixed);
  }

  .swiper-button {
    --_size: 40px;

    height: var(--_size);
    width: var(--_size);

    cursor: pointer;

    transition:
      color var(--transition-default),
      background-color var(--transition-default),
      transform var(--transition-default);

    & :global(.arrow) {
      transition: transform var(--transition-default);
    }

    &:hover :global(.arrow) {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-button-prev {
    &:hover :global(.arrow) {
      transform: translateX(-4px);
    }
  }

  .swiper-button-next {
    &:hover :global(.arrow) {
      transform: translateX(4px);
    }
  }
</style>
