---
import Centered from "./Centered.astro";
---

<Centered>
  <div class="text-content">
    <slot />
  </div>
</Centered>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .text-content {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: 40ch;

    @media (--tablet-and-up) {
      max-inline-size: 60ch;
    }

    @media (--laptop-and-up) {
      max-inline-size: 70ch;
    }
  }
</style>
