---
import Center from "../compositions/Center.astro";
import Frame from "../compositions/Frame.astro";

type Props = {
  src: string;
};

const { src } = Astro.props;
---

<section class="video">
  <Center
    maxWidth="75rem"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
  >
    <Frame ratio="16:9">
      <iframe
        src={src}
        width="640"
        height="360"
        frameborder="0"
        allow="fullscreen; picture-in-picture"
        loading="lazy"
        allowfullscreen></iframe>
    </Frame>
  </Center>
</section>
<style>
  .video {
    padding-block: var(--space-11-fixed);
  }

  iframe {
    border-radius: var(--rounded-lg);
  }
</style>
