/*
* COLOR 
*/

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-accent {
  color: var(--color-accent);
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}

.color-gray-100 {
  color: var(--color-gray-100);
}
.color-gray-200 {
  color: var(--color-gray-200);
}
.color-gray-400 {
  color: var(--color-gray-400);
}
.color-dark-gray {
  color: var(--color-dark-gray);
}
