/*
* GAP 
*/

@import "./breakpoints.css";

/* Gap */
.gap-space-0 {
  gap: var(--space-0-fixed);
}

.gap-space-1 {
  gap: var(--space-1-fixed);
}

.gap-space-2 {
  gap: var(--space-2-fixed);
}

.gap-space-3 {
  gap: var(--space-3-fixed);
}

.gap-space-4 {
  gap: var(--space-4-fixed);
}

.gap-space-5 {
  gap: var(--space-5-fixed);
}

.gap-space-6 {
  gap: var(--space-6-fixed);
}

.gap-space-7 {
  gap: var(--space-7-fixed);
}

.gap-space-8 {
  gap: var(--space-8-fixed);
}

.gap-space-9 {
  gap: var(--space-9-fixed);
}

.gap-space-10 {
  gap: var(--space-10-fixed);
}

.gap-space-11 {
  gap: var(--space-11-fixed);
}

.gap-space-12 {
  gap: var(--space-12-fixed);
}

.gap-space-13 {
  gap: var(--space-13-fixed);
}

.gap-space-14 {
  gap: var(--space-14-fixed);
}

.gap-space-15 {
  gap: var(--space-15-fixed);
}

.gap-space-16 {
  gap: var(--space-16-fixed);
}

.gap-space-17 {
  gap: var(--space-17-fixed);
}

.gap-space-18 {
  gap: var(--space-18-fixed);
}

.gap-space-19 {
  gap: var(--space-19-fixed);
}

/* Breakpoints */

@media (--tablet-and-up) {
}

@media (--laptop-and-up) {
}

@media (--desktop-and-up) {
  

  
}
