---
type raioOptions =
  | "1:1"
  | "2:3"
  | "3:2"
  | "4:5"
  | "5:4"
  | "4:3"
  | "3:4"
  | "16:9"
  | "9:16";

type Props = {
  ratio: raioOptions;
  class?: string;
  [key: string]: any;
};
const { class: classList, ratio, ...rest } = Astro.props;

//  Get left and right aspect ratio values
const [left, right] = ratio.split(":");
---

<div class:list={["frame", classList]} {...rest}>
  <slot />
</div>

<style is:global define:vars={{ left, right }}>
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: var(--left) / var(--right);

    overflow: hidden;
  }

  .frame > img,
  .frame > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  /* Control aspect ratio in different orientation */
  /* @media (orientation: portrait) {
    .frame {
      aspect-ratio: 1 / 1;
    }
  } */
</style>
