/*
* Aside Modal 
*/
@import "@styles/04-utilities/breakpoints.css";

.aside-modal {
  height: 100%;

  padding-block-start: var(--space-11-fixed);
  padding-block-end: var(--space-6-fixed);

  @media (--tablet-and-up) {
    padding-block-start: var(--space-12-fixed);
  }
}

.aside-modal .header {
  padding-inline: var(--space-7-fixed);
  flex: 1;
}

.aside-modal form {
  display: flex;
  flex-direction: column;

  row-gap: var(--space-6-fixed);
  height: 100%;

  @media (--tablet-and-up) {
    & button[type="submit"] {
      align-self: flex-start;
    }
  }
}

.aside-modal .main {
  /* to enable overflow, when there is no space, sometimes height: 100% needed */
  overflow-y: auto;

  padding-inline: var(--space-7-fixed);

  /* prevent cutting inputs outline */
  padding-block: var(--space-1-fixed);
}

.aside-modal .footer {
  flex: 1;

  display: flex;
  justify-content: flex-end;

  padding-inline: var(--space-7-fixed);
}
