/*
* BADGE 
*/

.badge {
  width: fit-content;
  border-radius: 9999px;
  padding-inline: var(--space-5-fixed);
  padding-block-start: 1px;
}

.badge-accent {
  background-color: var(--color-accent);
}

.badge-outline {
  border: 1px solid currentColor;
}
