/*
* BUTTONS 
*/

/* Styling guide:
  https://ishadeed.com/article/styling-the-good-old-button/ 
*/

.button,
.button-arrow {
  &,
  &:link {
    --_text-color: inherit;
    --_background-color: transparent;
    --_radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid transparent;
    border-radius: var(--_radius);
    background: var(--_background-color);
    cursor: pointer;
    font: inherit;
    color: var(--_text-color);

    /* Override link styles */
    text-align: center;
    text-decoration: none;

    transition: color var(--transition-default),
      background-color var(--transition-default),
      border var(--transition-default);
  }
}

.button.default {
  &,
  &:link {
    --_radius: var(--rounded-md);

    min-inline-size: 6.25em;
    font-weight: var(--font-medium);
    padding: var(--space-2) var(--space-5);
  }

  &:focus {
    /* outline-offset: 2px; */
    /* outline-color: var(--color-primary); */
  }

  /* &:focus:not(:focus-visible) {
      outline: none;
    } */
}

.button.default svg,
.button-arrow svg {
  --_size: var(--space-6);

  inline-size: var(--_size);
  block-size: var(--_size);

  display: inline-block;
  vertical-align: middle;
  margin-inline-start: 0.25em;

  transition: transform var(--transition-default);
}

.button.default:hover svg {
  transform: scale(1.1);
}

/* STYLES */

.button[data-style="primary"] {
  --_text-color: var(--color-secondary);
  --_background-color: var(--color-primary);

  &:hover {
    --_text-color: var(--color-primary);
    --_background-color: transparent;
    border-color: var(--_text-color);
  }
}

.button[data-style="primary"].inverted {
  --_background-color: transparent;
  --_text-color: var(--color-primary);
  border-color: var(--_text-color);

  &:hover {
    --_text-color: var(--color-secondary);
    --_background-color: var(--color-primary);
    border-color: var(--_background-color);
  }
}

.button[data-style="secondary"] {
  --_text-color: var(--color-primary);
  --_background-color: var(--color-secondary);

  &:hover {
    --_text-color: var(--color-secondary);
    --_background-color: transparent;
    border-color: var(--_text-color);
  }
}

.button[data-style="secondary"].inverted {
  --_text-color: var(--color-secondary);
  --_background-color: transparent;
  border-color: var(--_text-color);

  &:hover {
    --_text-color: var(--color-primary);
    --_background-color: var(--color-secondary);
    border-color: var(--_background-color);
  }
}

.button[data-style="accent"] {
  --_text-color: var(--color-secondary);
  --_background-color: var(--color-accent);

  &:hover {
    --_text-color: var(--color-secondary);
    --_background-color: transparent;
    border-color: var(--color-accent);
  }
}

.button[data-style="accent"][data-variant="chip"] {
  --_text-color: var(--color-secondary);
  --_background-color: var(--color-accent);
  opacity: 1;

  &:hover {
    border-color: var(--color-accent);
    opacity: 0.5;
  }
}

.button[data-style="accent"][data-variant="round"] {
  --_text-color: var(--color-secondary);
  --_background-color: var(--color-accent);
  /* opacity: 1; */

  &:hover {
    --_text-color: var(--color-accent);
    --_background-color: var(--color-secondary);
    border-color: var(--color-accent);
    /* opacity: 0.5; */
  }
}

/* SIZES */

.button[data-size="x-small"] {
  font-size: var(--text-minus-3);
}

.button[data-size="small"] {
  font-size: var(--text-minus-1);
}

.button[data-size="large"] {
  font-size: var(--text-base);
}

.button[data-size="x-large"] {
  font-size: var(--text-1);
}

.button[data-size="medium"][data-variant="round"] {
  width: var(--space-7-fixed);
  height: var(--space-7-fixed);
}

.button[data-size="large"][data-variant="round"] {
  width: var(--space-8-fixed);
  height: var(--space-8-fixed);
}

/* VARIANTS */

.button[data-variant="chip"] {
  --_radius: var(--rounded-full);
}

.button[data-variant="round"] {
  --_radius: var(--rounded-full);
  padding: var(--space-1-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button[data-variant="icon"] {
  --_radius: var(--rounded-md);

  padding: var(--space-2-fixed);

  & span {
    font-size: 0;
  }
}
