/*
* BADGE 
*/

.button,
.button-arrow {
  --_text-color: inherit;
  --_background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid transparent;
  border-radius: 0;
  background: var(--_background-color);
  cursor: pointer;
  font: inherit;
  color: var(--_text-color);

  /* Override link styles */
  text-align: center;
  text-decoration: none;
}

.button.icon {
  padding: var(--space-2-fixed);
  border-radius: var(--rounded-md);

  & span {
    font-size: 0;
  }
}

.button.default {
  min-width: 6.25em;
  font-weight: var(--font-medium);
  padding: var(--space-2) var(--space-5);
  border-radius: var(--rounded-md);

  transition: color var(--transition-default),
    background-color var(--transition-default), border var(--transition-default);

  &:focus {
    /* outline-offset: 2px; */
    /* outline-color: var(--color-primary); */
  }

  /* &:focus:not(:focus-visible) {
      outline: none;
    } */
}

.button.default svg,
.button-arrow svg {
  --_size: var(--space-6);

  inline-size: var(--_size);
  block-size: var(--_size);

  display: inline-block;
  vertical-align: middle;
  margin-inline-start: 0.25em;

  transition: transform var(--transition-default);
}

.button.default:hover svg {
  transform: scale(1.1);
}

/* STYLES */

.button.primary {
  --_text-color: var(--color-secondary);
  --_background-color: var(--color-primary);

  &:hover {
    --_text-color: var(--color-primary);
    --_background-color: transparent;
    border-color: var(--_text-color);
  }
}

.button.secondary {
  --_text-color: var(--color-primary);
  --_background-color: var(--color-secondary);

  &:hover {
    --_text-color: var(--color-secondary);
    --_background-color: transparent;
    border-color: var(--_text-color);
  }
}

/* SIZES */

.button.small {
  font-size: var(--text-minus-1);
}

.button.large {
  font-size: var(--text-base);
}

.button.x-large {
  font-size: var(--text-1);
}
