html:has(dialog[open]) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

html:has(dialog[open]) header,
html:has(dialog[data-dialog="mobile-menu"][open]) dialog {
  --_padding: var(--space-6-fixed);

  padding-inline-end: calc(var(--_padding) + var(--scrollbar-width));

  @media (--tablet-and-up) {
    --_padding: var(--space-7-fixed);
  }
}

dialog {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  border: 0;
  margin: 0;

  transition: opacity 200ms var(--ease-out), visibility 0s 200ms;

  &::backdrop {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  /* Prevent dialog from jumping to the left, when scrollbar shows up */
  margin-inline-end: calc(var(--scrollbar-width) * -1);
}

dialog[open] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s;

  &::backdrop {
    animation: backdrop 200ms var(--ease-out) forwards;
  }
}

@keyframes backdrop {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}
