/*
* FONTS 
*/

/* cormorant-regular - latin */
/* @font-face {
    font-display: fallback; 
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/cormorant-v21-latin-regular.woff2') format('woff2'); 
  } */
