---
import Center from "@/components/compositions/Center.astro";
import Stack from "@/components/compositions/Stack.astro";
import Heading from "@/components/ui/Heading.astro";
import Link from "@/components/ui/Link.astro";
import Text from "@/components/ui/Text.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout seo={{ title: "Політика Конфіденційності" }}>
  <Center
    maxWidth="80ch"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
    class="privacy-policy"
  >
    <Stack space="space-10">
      <Heading tagName="h1" size="h5" class="font-heading"
        >Privacy Policy Agreement</Heading
      >

      <div class="content">
        <Text tagName="p" size="medium">
          NGO Eco Misto Chernihiv (hereinafter the "Organization"), recognizing
          the importance of protecting the privacy and integrity of individuals’
          personal data, enters into this Privacy Policy Agreement (hereinafter
          the "Agreement") with you (hereinafter the "Participant") to define
          the procedure for collecting, storing, processing, using, and
          disclosing the Participant’s personal data by the Organization when
          using its services and the website <Link
            href="https://ecomisto.org/"
            isHovered={true}
            hoverHeight="1px"
            class="color-secondary">https://ecomisto.org/</Link
          > (hereinafter the "Website").
        </Text>

        <Text tagName="p" size="medium">
          To use the Website and Services, the Participant must accept the terms
          of this Agreement. The Participant has no right to use the Website or
          any of its services (hereinafter the «Services») if they do not agree
          to these terms. By agreeing to the use of cookies on your first visit
          to the Website in accordance with this Policy, you give us full and
          unconditional consent to use cookies during each of your subsequent
          visits unless and until you withdraw that consent. By ticking the box
          to give consent to the processing of your personal data, you provide
          us with voluntary, full, and unconditional consent to process your
          personal data in the manner, for the duration, and by the means set
          out in this Privacy Policy. You may withdraw your consent to the
          processing of personal data at any time by sending a request to our
          email: <Link
            href="mailto:info@ecomisto.org"
            isHovered={true}
            hoverHeight="1px"
            class="color-secondary">info@ecomisto.org</Link
          >
        </Text>

        <Heading tagName="h2" size="h6">1. Subject of the Agreement</Heading>

        <Text tagName="p" size="medium">
          1.1. This Agreement defines the procedure for collecting, storing,
          processing, using, and disclosing Personal, Public, and other data
          provided by the Participant to the Organization while using the
          Website and Services.
        </Text>

        <Text tagName="p" size="medium">
          1.2. By using any part of the Website and Services, the Participant
          grants the Organization the right to collect, store, process, use, and
          disclose their Personal Data under the terms of this Agreement.
        </Text>

        <Text tagName="p" size="medium">
          1.3. This Agreement does not govern, and the Organization bears no
          responsibility for, the collection, storage, processing, use, or
          disclosure of the Participant’s Personal Data by third-party companies
          and organizations not owned or controlled by the Organization, or by
          individuals who are not employees of the Organization, even if the
          Participant accessed their websites, software, products, or services
          via the Website.
        </Text>
        <Text tagName="p" size="medium">
          1.4. The purpose of collecting, storing, processing, and using the
          Participant’s Personal, Public, and other data is to protect the
          interests of the Participant and the Website, as well as to provide
          Services, including the display of targeted, personalized, or general
          information, and to improve existing or develop new websites and
          services offered through the Website.
        </Text>

        <Heading tagName="h2" size="h6">2. Types of Personal Data</Heading>

        <Text tagName="p" size="medium">
          2.1. We process the following types of personal data:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Information about your computer, including your IP address,
            geographic location, browser type and version, and operating system;
          </Text>
          <Text tagName="li" size="medium">
            Information about your visits to and use of the Website, including
            referral sources, duration of visits, pages viewed, and navigation
            paths on the Website;
          </Text>
          <Text tagName="li" size="medium">
            Information about your name, surname, patronymic, age, gender, city
            of residence, email address, phone number, and other data you
            entered when registering on the Website;
          </Text>
          <Text tagName="li" size="medium">
            Information you entered when filling out the contact form on the
            Website – for example, your name, surname, patronymic, phone number,
            and email address;
          </Text>
          <Text tagName="li" size="medium">
            Information you provided when subscribing to our newsletters and/or
            mailings (your name, surname, patronymic, and email address);
          </Text>
          <Text tagName="li" size="medium">
            Information you entered while using the services of the Website;
          </Text>
          <Text tagName="li" size="medium">
            Information generated while using the Website, including data about
            the time, frequency, and conditions of its use;
          </Text>
          <Text tagName="li" size="medium">
            Information contained in any messages you sent to us by email or via
            the Website, including message content and metadata;
          </Text>
          <Text tagName="li" size="medium">
            Any other personal information you sent or disclosed to us,
            including but not limited to your postal address, the name of the
            company you work for, and your job title.
          </Text>
        </Stack>

        <Text tagName="p" size="medium">
          2.2. Before disclosing personal information (personal data) of a third
          party to us, you must obtain that person’s consent both to the
          disclosure and to the processing of their information in accordance
          with this Privacy Policy.
        </Text>

        <Text tagName="p" size="medium">
          2.3. Cookies. The Website uses cookies. A cookie is a file containing
          an identifier (a string of letters and numbers) that is sent by a web
          server to a web browser and is stored by the browser. It is a piece of
          data created by the Website and saved on the User’s computer as one or
          more files. Cookies do not contain Personal Data and can be blocked by
          the User at any time.
        </Text>

        <Heading tagName="h2" size="h6"
          >3. Purpose and Legal Grounds for Processing Personal Data</Heading
        >

        <Text tagName="p" size="medium">
          3.1. We process your personal data on the following legal grounds:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Your voluntary, full, and unconditional consent to the processing of
            your personal data, in accordance with this Privacy Policy;
          </Text>
          <Text tagName="li" size="medium">
            In the event of entering into and performing a contract with our
            Organization, where you are a party or beneficiary, or for steps
            taken at your request prior to entering into such a contract;
          </Text>
          <Text tagName="li" size="medium">
            To protect your vital interests;
          </Text>
          <Text tagName="li" size="medium">
            When necessary to comply with our legal obligations as a data
            controller (processor);
          </Text>
          <Text tagName="li" size="medium">
            When necessary to protect our legitimate interests or those of a
            third party to whom personal data is transferred, unless those
            interests are overridden by your fundamental rights and freedoms in
            connection with the processing of your data.
          </Text>
        </Stack>

        <Text tagName="p" size="medium">
          3.2. The personal information and data you provide through the Website
          will be used for the purposes outlined in this Privacy Policy. We may
          use your personal information for the following purposes:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Website and operations management (including, but not limited to:
            quality control, staff training and analytics, system administration
            and technology management, Website optimization, maintaining
            records, and auditing user interactions such as logs and transaction
            records);
          </Text>
          <Text tagName="li" size="medium">
            Maintaining and testing security systems;
          </Text>
          <Text tagName="li" size="medium">
            Customizing the Website to fit your needs;
          </Text>
          <Text tagName="li" size="medium">
            Giving you access to services available through the Website;
          </Text>
          <Text tagName="li" size="medium">
            Fulfilling the terms of contracts concluded with you, as well as
            conducting pre-contract discussions and negotiations;
          </Text>
          <Text tagName="li" size="medium">
            Sending you notifications, invoices, and payment reminders, and
            receiving payments from you; sending you products or samples upon
            your request;
          </Text>
          <Text tagName="li" size="medium">
            Sending you email messages that you have specifically requested;
          </Text>
          <Text tagName="li" size="medium">
            Sending you newsletters if you subscribed (you may unsubscribe at
            any time);
          </Text>
          <Text tagName="li" size="medium">
            Sending you marketing communications about our activities or those
            of carefully selected third parties that we believe may interest
            you—via public postings or, if you’ve explicitly agreed, via email
            or similar technologies (you can opt out at any time);
          </Text>
          <Text tagName="li" size="medium">
            Analyzing anonymized data, compiling summaries, and generating
            charts and reports across various categories;
          </Text>
          <Text tagName="li" size="medium">
            Providing third parties with statistical information about our users
            (they will not be able to identify individuals from this data unless
            otherwise stated in this Policy);
          </Text>
          <Text tagName="li" size="medium">
            Handling requests and complaints made by you or about you in
            relation to the Website;
          </Text>
          <Text tagName="li" size="medium">
            To ensure Website security and prevent fraud;
          </Text>
          <Text tagName="li" size="medium">
            To verify compliance with the terms and rules of Website use
            (including monitoring private messages sent through our messaging
            system);
          </Text>
          <Text tagName="li" size="medium">
            For other legitimate purposes.
          </Text>
        </Stack>

        <Heading tagName="h2" size="h6">4. Processing of Personal Data</Heading>

        <Text tagName="p" size="medium">
          4.1. When creating an Account, the Participant must provide login
          credentials, as well as their first name, last name, email address,
          and other information. Once the Participant creates and uses their
          Account, the Organization gains the ability to identify the
          Participant each time they use the Website.
        </Text>

        <Text tagName="p" size="medium">
          4.2. The Organization has the right to place cookies on Participants'
          computers (unless the Participant has manually restricted this option
          in their browser), and to collect, store, process, and use the
          information contained in these cookies.
        </Text>

        <Text tagName="p" size="medium">
          4.3. When the Participant uses the Website and Services, the system
          hosting the Website automatically collects, processes, and uses data
          that is not considered Personal Data — such as the Participant’s IP
          address, location (determined via IP), technical specifications of the
          Participant’s device, presence or absence of specific software,
          settings of such software, cookies, and statistical data on
          Participant’s activity.
        </Text>

        <Text tagName="p" size="medium">
          4.4. The Organization has the right to store the Participant’s
          Personal, Public, and other data for the period and scope necessary to
          fulfill the purposes outlined in this Agreement, or for the period
          specified by the applicable laws of Ukraine, international
          regulations, or the laws of the Participant’s country of residence or
          stay, or until such data is deleted by the Participant.
        </Text>

        <Text tagName="p" size="medium">
          4.5. In the event of any changes to Personal Data, the Participant
          must provide updated information to the Organization by editing their
          Account on the Website. If the Participant fails to do so, the
          Organization is not liable for any negative consequences resulting
          from the processing of outdated or inaccurate Personal Data.
        </Text>

        <Text tagName="p" size="medium">
          4.6. Data retention period. Your personal data will be stored for as
          long as there is a valid purpose for processing it, or until you
          request its deletion or withdraw your consent. If no such request is
          made, personal data will be deleted after 48 months of inactivity
          across all communication channels, based on internal criteria. Despite
          the above, we may retain documents (including electronic ones)
          containing your personal data:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium"> When required by law; </Text>
          <Text tagName="li" size="medium">
            If we believe such documents may be relevant to any ongoing or
            future legal, arbitration, or administrative proceedings;
          </Text>
          <Text tagName="li" size="medium">
            To establish, exercise, or defend our legal rights and interests
            (including sharing information with third parties to prevent fraud
            or reduce credit risks).
          </Text>
        </Stack>

        <Heading tagName="h2" size="h6">5. Protection of Personal Data</Heading>

        <Text tagName="p" size="medium">
          5.1. We respect your personal information and take all necessary
          measures to protect it from loss, misuse, or alteration. These may
          include technical measures such as firewalls, intrusion detection and
          prevention systems, strong and unique passwords, and encryption. We
          also implement organizational and physical safeguards, such as staff
          training on data handling, risk and incident assessment, restricted
          access to personal information, and physical security, including
          proper storage of documents when not in use.
        </Text>

        <Text tagName="p" size="medium">
          5.2. You acknowledge that the transmission of information via the
          Internet is not completely secure, and we cannot guarantee the
          absolute protection of data sent over the global network. You are
          fully responsible for keeping your password confidential and secure
          when accessing the Website.
        </Text>

        <Heading tagName="h2" size="h6">
          6. Your Rights Regarding the Processing of Personal Data</Heading
        >

        <Text tagName="p" size="medium"> 6.1. You have the right to: </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Know the sources of collection, the location of your personal data,
            the purpose of its processing, and the location of our organization,
            or authorize a designated person to receive such information, unless
            otherwise specified by law;
          </Text>
          <Text tagName="li" size="medium">
            Receive information about the conditions of access to your personal
            data, including information about third parties to whom your data is
            transferred;
          </Text>
          <Text tagName="li" size="medium"> Access your personal data; </Text>
          <Text tagName="li" size="medium">
            Receive a response within thirty calendar days from the date of your
            request (unless otherwise stipulated by law) about whether your
            personal data is being processed and obtain the content of such
            data;
          </Text>
          <Text tagName="li" size="medium">
            Submit a reasoned request to the data controller objecting to the
            processing of your personal data;
          </Text>
          <Text tagName="li" size="medium">
            Submit a reasoned request to change or delete your personal data if
            it is being processed unlawfully or inaccurately;
          </Text>
          <Text tagName="li" size="medium">
            Protect your personal data from unlawful processing and accidental
            loss, destruction, damage due to intentional concealment, untimely
            provision, or provision of false or defamatory information;
          </Text>
          <Text tagName="li" size="medium">
            Withdraw your consent to the processing of your personal data at any
            time without affecting the legality of processing based on your
            consent prior to withdrawal;
          </Text>
          <Text tagName="li" size="medium">
            Exercise any other rights provided by applicable law.
          </Text>
        </Stack>

        <Heading tagName="h2" size="h6"> 7. Changes and Amendments</Heading>

        <Text tagName="p" size="medium">
          7.1. We reserve the right to periodically make changes and amendments
          to this Privacy Policy and publish its updated version on the Website.
          You should regularly check this webpage to ensure you have the latest
          information regarding the processing of your personal data. We may
          also notify you about changes to this Policy by sending you an email
          or via the Website's private messaging system.
        </Text>

        <Text tagName="p" size="medium">
          Personal Data Controller: NGO "Eco Misto Chernihiv" (EDRPOU code
          40963387).
        </Text>
      </div>
    </Stack>
  </Center>

  <style>
    .privacy-policy {
      padding-block-start: calc(var(--space-12-fixed) + var(--header-height));
      padding-block-end: var(--space-12-fixed);
    }

    .content :global(* + *) {
      margin-block-start: var(--space-6-fixed);
    }

    .content :global(h2) {
      font-size: var(--text-2);
      margin-block-start: var(--space-7-fixed);
    }

    .content :global(ul) {
      margin-inline-start: var(--space-7-fixed);
    }

    .content :global(ul) :global(li + li) {
      margin-block-start: var(--space-2);
    }
  </style>
</BaseLayout>
