---
import Center from "@/components/compositions/Center.astro";
import Stack from "@/components/compositions/Stack.astro";
import Heading from "@/components/ui/Heading.astro";
import Link from "@/components/ui/Link.astro";
import Text from "@/components/ui/Text.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout seo={{ title: "Політика Конфіденційності" }}>
  <Center
    maxWidth="80ch"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
    class="privacy-policy"
  >
    <Stack space="space-10">
      <Heading tagName="h1" size="h5" class="font-heading"
        >Угода про конфіденційність</Heading
      >

      <div class="content">
        <Text tagName="p" size="medium">
          Громадська організація «Еко Місто Чернігів» (надалі – «Організація»),
          розуміючи важливість забезпечення конфіденційності й недоторканності
          Персональних даних фізичних осіб, укладає з Вами (далі – "Учасник")
          дану Угоду про конфіденційність (далі – "Угода") для визначення
          порядку одержання, зберігання, обробки, використання й розкриття
          Організацією Персональних даних Учасника при використанні Учасником
          Послуг Організації та Інтернет сайту <Link
            href="https://ecomisto.org/"
            isHovered={true}
            hoverHeight="1px"
            class="color-secondary">https://ecomisto.org/</Link
          >   (далі – "Сайт").
        </Text>

        <Text tagName="p" size="medium">
          Для користування Сайтом та Послугами Учасник зобов'язаний прийняти
          умови цієї Угоди. Учасник не має права використовувати Сайт та
          послуги, які надаються Сайтом (далі – Послуги), у випадку незгоди з
          умовами даної Угоди. Погоджуючись із використанням файлів cookie при
          першому відвідуванні Сайту, відповідно до положень цієї Політики, ви
          надаєте нам повний та безумовний дозвіл на використання файлів cookie
          при кожному вашому наступному візиті, допоки ви не відкличете таку
          згоду. Шляхом проставлення відмітки про надання дозволу на обробку
          своїх персональних даних ви надаєте нам добровільну, повну та
          безумовну згоду на обробку своїх персональних даних, у порядку, строки
          та спосіб, що визначені цією Політикою Конфіденційності. Ви можете
          відкликати свою згоду на обробку персональних даних, шляхом надіслання
          про це повідомлення на нашу електронну адресу: <Link
            href="mailto:info@ecomisto.org"
            isHovered={true}
            hoverHeight="1px"
            class="color-secondary">info@ecomisto.org</Link
          >
        </Text>

        <Heading tagName="h2" size="h6">1. Предмет угоди</Heading>

        <Text tagName="p" size="medium">
          1.1. Ця Угода визначає порядок одержання, зберігання, обробки,
          використання й розкриття Персональних, Загальнодоступних та інших
          даних, що надаються Організації Учасником при використанні ним Сайту
          та Послуг.
        </Text>

        <Text tagName="p" size="medium">
          1.2. Використовуючи будь-яку частину Сайту та Послуги, Учасник надає
          Організації право одержувати, зберігати, обробляти, використовувати й
          розкривати Персональні дані Учасника на умовах даної Угоди.
        </Text>

        <Text tagName="p" size="medium">
          1.3. Ця Угода не регулює, а Організація не несе відповідальності за
          порядок одержання, зберігання, обробки, використання й розкриття
          Персональних даних Учасника сторонніми підприємствами й організаціями,
          що не перебувають у володінні або під керуванням Організації, і
          фізичними особами, що не є працівниками Організації, навіть якщо
          Учасник одержав доступ до сайтів, програмного забезпечення, товарів
          або послуг цих осіб за допомогою Сайту.
        </Text>
        <Text tagName="p" size="medium">
          1.4. Метою одержання, зберігання, обробки й використання Персональних,
          Загальнодоступних та інших даних Учасника є захист інтересів Учасника
          та Сайту, а також надання Учаснику Послуг, включаючи показ
          таргетованої, персоналізованої або загальної інформації, покращення
          якості існуючих і створення нових сайтів та послуг, що надаються
          Сайтом.
        </Text>

        <Heading tagName="h2" size="h6">2. Склад персональних даних</Heading>

        <Text tagName="p" size="medium">
          2.1. Ми обробляємо наступні типи (види) персональних даних:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Інформацію про ваш комп’ютер, включаючи вашу IP-адресу, географічне
            розташування, тип і версію браузера та операційну систему;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію про ваші відвідування та використання Сайту, включаючи
            реферальні джерела, тривалість візитів, переглянуті сторінки та
            шляхи навігації по Сайту;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію про ваше ім’я, прізвище, по батькові, вік, стать, місто
            проживання, адресу вашої електронної пошти, номер телефону та інші
            дані, які ви ввели при реєстрації на Сайті;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію, яку ви ввели під час заповнення форми зворотного зв’язку
            на Сайті – наприклад, ваше ім’я, прізвище, по-батькові, номер
            телефону, адресу електронної пошти;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію, яку ви вказали під час оформлення підписок на наші
            поштові повідомлення та/або розсилки (ваше ім’я, прізвище, по
            батькові та адреса електронної пошти);
          </Text>
          <Text tagName="li" size="medium">
            Інформацію, яку ви ввели під час використання сервісів Сайту;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію, яка генерується при використанні Сайту, включаючи
            інформацію про час, частоту та умови її використання;
          </Text>
          <Text tagName="li" size="medium">
            Інформацію, що міститься в будь-яких повідомленнях, які ви надсилали
            нам електронною поштою або через Сайт, включаючи зміст повідомлення
            та метадані;
          </Text>
          <Text tagName="li" size="medium">
            Будь-яку іншу персональну інформацію, яку ви надіслали або
            повідомили нам, в тому числі, але не виключно, поштову адресу,
            найменування компанії, в якій ви працюєте, найменування вашої
            посади.
          </Text>
        </Stack>

        <Text tagName="p" size="medium">
          2.2. Перед тим, як розкрити для нас персональну інформацію
          (персональні дані) третьої особи, ви маєте отримати згоду цієї особи
          як на розкриття, так і на обробку цієї інформації у відповідності до
          цієї Політики Конфіденційності.
        </Text>

        <Text tagName="p" size="medium">
          2.3. Файли cookie. Сайт використовує файли cookie. Cookie — це файл,
          що містить ідентифікатор (стрічку, яка складається з літер та цифр), і
          який надсилається веб-сервером до веб-браузеру, та зберігається
          браузером. Це фрагмент даних, створений Сайтом й збережений у
          комп'ютері Учасника у вигляді одного або декількох файлів. Cookie не
          містять Персональних даних і можуть бути заблоковані Учасником у
          будь-який момент.
        </Text>

        <Heading tagName="h2" size="h6"
          >3. Мета та підстави обробки персональних даних</Heading
        >

        <Text tagName="p" size="medium">
          3.1. Ми здійснюємо обробку ваших персональних даних на наступних
          підставах:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Надання вами добровільної, повної та безумовної згоди на обробку
            своїх персональних даних, відповідно до положень цієї Політики
            Конфіденційності;
          </Text>
          <Text tagName="li" size="medium">
            У випадку укладення та виконання правочину з нашою Організацією,
            стороною якого ви є або який укладено на вашу користь чи для
            здійснення заходів, що передують укладенню правочину на вашу вимогу;
          </Text>
          <Text tagName="li" size="medium">
            Для захисту ваших життєво важливих інтересів;
          </Text>
          <Text tagName="li" size="medium">
            При необхідності виконання нашого обов’язку, як володільця
            (процесора) персональних даних, який передбачений законом;
          </Text>
          <Text tagName="li" size="medium">
            При необхідності захисту наших законних інтересів або третьої особи,
            якій передаються персональні дані, крім випадків, коли потреби
            захисту ваших основоположних прав і свобод у зв’язку з обробкою
            ваших даних переважають такі інтереси.
          </Text>
        </Stack>

        <Text tagName="p" size="medium">
          3.2. Персональна інформація та персональні дані, які передані нам
          через Сайт, буде використовуватися задля цілей, зазначених в цій
          Політиці конфіденційності. Ми можемо використовувати вашу персональну
          інформацію (персональні дані) в наступних цілях:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Адміністрування Сайту та діяльності (зокрема, але не виключно:
            контролю якості, навчання персоналу та аналітики, системного
            адміністрування та керування технологіями, в тому числі для
            оптимізації Сайту, ведення облікової документації та здійснення
            аудиту взаємодії із користувачами Сайту, включно з веденням журналів
            та записів, які є частиною інформації про транзакції);
          </Text>
          <Text tagName="li" size="medium">
            Обслуговування та перевірки систем безпеки;
          </Text>
          <Text tagName="li" size="medium">
            Персоналізація Сайту для вас;
          </Text>
          <Text tagName="li" size="medium">
            Надання вам можливості користуватися сервісами, доступними на Сайті;
          </Text>
          <Text tagName="li" size="medium">
            Виконання умов договорів, укладених з вами, проведення
            переддоговірних узгоджень та перемовин;
          </Text>
          <Text tagName="li" size="medium">
            Надсилання вам повідомлень, рахунків та нагадувань про сплату, та
            отримання платежів від вас; надсилання вам за вашим запитом
            продуктів або їх зразків;
          </Text>
          <Text tagName="li" size="medium">
            Надсилання вам електронною поштою повідомлень, які ви спеціально
            запросили;
          </Text>
          <Text tagName="li" size="medium">
            Надсилання вам електронної розсилки, якщо ви її замовили (ви в
            будь-який момент можете повідомити нас, що більше не бажаєте
            отримувати електронні розсилки від нас);
          </Text>
          <Text tagName="li" size="medium">
            Надсилання вам маркетингових повідомлень стосовно нашої ділової
            активності або ділової активності старанно відібраних сторонніх
            компаній, яка, на нашу думку, може вас зацікавити, шляхом публікацій
            або, якщо ви конкретно надали на це згоду – шляхом надсилання
            електронної пошти або за рахунок використання подібних технологій
            (ви в будь-який момент можете повідомити нас, що більше не бажаєте
            отримувати маркетингові повідомлення);
          </Text>
          <Text tagName="li" size="medium">
            Здійснення аналізу неперсоніфікованих даних, їх узагальнення,
            побудова графіків, звітів за окремими категоріями;
          </Text>
          <Text tagName="li" size="medium">
            Надання іншим особам статистичної інформації про наших користувачів
            (проте, ці інші особи не матимуть змоги ідентифікувати жодного
            окремого користувача з цих даних, крім випадків, передбачених в цій
            Політиці конфіденційності);
          </Text>
          <Text tagName="li" size="medium">
            Обробка запитів та скарг, зроблених вами або на вас, і які
            стосуються Сайту;
          </Text>
          <Text tagName="li" size="medium">
            З метою забезпечення безпеки Сайту та попередження шахрайства;
          </Text>
          <Text tagName="li" size="medium">
            З метою перевірки відповідності умовам та правилам, які
            регламентують використання Сайту (включаючи моніторинг приватних
            повідомлень, надісланих через сервіс приватних повідомлень Сайту);
          </Text>
          <Text tagName="li" size="medium"> В інших законних цілях. </Text>
        </Stack>

        <Heading tagName="h2" size="h6">4. Обробка персональних даних</Heading>

        <Text tagName="p" size="medium">
          4.1. При створенні Облікового запису Учасник повинен вказати дані
          авторизації, а також ім'я, прізвище, адресу електронної пошти й інші
          дані. Після створення й використання Учасником Облікового запису
          Організація одержує можливість ідентифікувати Учасника при кожному
          використанні ним Сайту.
        </Text>

        <Text tagName="p" size="medium">
          4.2. Організація має право завантажувати на комп'ютери Учасників файли
          cookie (якщо Учасник самостійно не обмежив дану можливість у своєму
          веб-браузері), а також одержувати, зберігати, обробляти й
          використовувати інформацію, що міститься в cookie.
        </Text>

        <Text tagName="p" size="medium">
          4.3. При використанні Учасником Сайту та Послуг обладнання, на якому
          розташований Сайт, Сайт автоматично зберігає, обробляє та використовує
          дані Учасника, що не відносяться до Персональних, наприклад: IP-адреса
          Учасника, дані про місцезнаходження Учасника, які можна визначити за
          допомогою його IP-адреси, технічні параметри комп'ютера Учасника,
          наявність або відсутність у комп'ютері Учасника конкретного
          програмного забезпечення, налаштування даного програмного
          забезпечення, файли cookie, а також статистична інформація про
          активність Учасника.
        </Text>

        <Text tagName="p" size="medium">
          4.4. Організація має право зберігати Персональні, Загальнодоступні та
          інші дані Учасника в обсязі та у строки необхідні для реалізації мети,
          що зазначена у цій Угоді, або у строки, встановлені чинним
          законодавством України, нормами міжнародного права, або законодавством
          країни проживання або перебування Учасника, або до моменту видалення
          Учасником цих даних.
        </Text>

        <Text tagName="p" size="medium">
          4.5. У випадку зміни Персональних даних Учасник повинен надати
          Організації оновлені дані шляхом внесення відповідних змін до
          Облікового запису на Сайті. У разі невиконання Учасником даної вимоги,
          Організація не несе відповідальності за несприятливі наслідки,
          пов'язані з обробкою таких Персональних даних.
        </Text>

        <Text tagName="p" size="medium">
          4.6. Строк обробки. Ваші персональні дані будуть зберігатися доки
          наявна мета їх обробки та доки ви не надішлете запит на видалення
          персональних даних або скасуєте вашу згоду на їх обробку. Якщо ви не
          надішлете такий запит, персональні дані будуть видалені у такий строк:
          через 48 місяців неактивності за всіма каналами зв’язку. Ми визначаємо
          неактивність за декількома внутрішніми критеріями. Незважаючи на інші
          положення цього пункту, ми будемо зберігати документи (включаючи
          електронні документи), які містять вашу персональну інформацію:
        </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            В тих випадках, в яких цього від нас вимагає закон;
          </Text>
          <Text tagName="li" size="medium">
            Якщо ми вважатимемо, що ці документи можуть мати відношення до
            будь-якого поточного або майбутнього судового, третейського або
            адміністративного спору;
          </Text>
          <Text tagName="li" size="medium">
            З метою встановлення, реалізації або захисту наших законних прав та
            інтересів (включаючи надання інформації іншим сторонам задля
            запобігання шахрайству або зниження кредитних ризиків).
          </Text>
        </Stack>

        <Heading tagName="h2" size="h6">5. Захист персональних даних</Heading>

        <Text tagName="p" size="medium">
          5.1. Ми з повагою ставимося до вашої персональної інформації та
          вживаємо всіх необхідних заходів для її захисту від втрати,
          неправильного використання чи внесення змін. У відповідних випадках це
          можуть бути технічні заходи: брандмауери, системи виявлення та
          попередження вторгнення, унікальні та складні паролі й шифрування. Ми
          також вживаємо організаційних і фізичних заходів, як-от підготовка
          персоналу з питань обробки даних, визначення інцидентів щодо даних та
          ризиків, обмеження доступу персоналу до вашої персональної інформації
          й забезпечення фізичної безпеки, серед іншого належний захист
          документів у той час, коли вони не використовуються.
        </Text>

        <Text tagName="p" size="medium">
          5.2. Ви підтверджуєте своє ознайомлення з тим фактом, що передача
          інформації через Інтернет не є цілком захищеною, і ми не можемо
          гарантувати цілковитий захист даних, надісланих через всесвітню мережу
          Інтернет. Ви несете повну відповідальність за збереження свого пароля
          для доступу на Сайт в таємниці.
        </Text>

        <Heading tagName="h2" size="h6">
          6. Ваші права щодо обробки персональних даних</Heading
        >

        <Text tagName="p" size="medium"> 6.1. Ви маєте право: </Text>

        <Stack tagName="ul" space="space-2">
          <Text tagName="li" size="medium">
            Знати про джерела збирання, місцезнаходження своїх персональних
            даних, мету їх обробки, місцезнаходження нашої компанії або дати
            відповідне доручення щодо отримання цієї інформації уповноваженим
            ним особам, крім випадків, встановлених законом;
          </Text>
          <Text tagName="li" size="medium">
            Отримувати інформацію про умови надання доступу до персональних
            даних, зокрема інформацію про третіх осіб, яким передаються ваші
            персональні дані;
          </Text>
          <Text tagName="li" size="medium">
            На доступ до своїх персональних даних;
          </Text>
          <Text tagName="li" size="medium">
            Отримувати не пізніш як за тридцять календарних днів з дня
            надходження запиту, крім випадків, передбачених законом, відповідь
            про те, чи обробляються ваші персональні дані, а також отримувати
            зміст таких персональних даних;
          </Text>
          <Text tagName="li" size="medium">
            Пред’являти вмотивовану вимогу володільцю персональних даних із
            запереченням проти обробки своїх персональних даних;
          </Text>
          <Text tagName="li" size="medium">
            Пред'являти вмотивовану вимогу щодо зміни або знищення своїх
            персональних даних будь-яким володільцем та розпорядником
            персональних даних, якщо ці дані обробляються незаконно чи є
            недостовірними;
          </Text>
          <Text tagName="li" size="medium">
            На захист своїх персональних даних від незаконної обробки та
            випадкової втрати, знищення, пошкодження у зв'язку з умисним
            приховуванням, ненаданням чи несвоєчасним їх наданням, а також на
            захист від надання відомостей, що є недостовірними чи ганьблять
            честь, гідність та ділову репутацію фізичної особи;
          </Text>
          <Text tagName="li" size="medium">
            Відкликати згоду на обробку персональних даних в будь-який момент
            без наслідків для законності опрацювання, що було засновано на згоді
            до її відкликання;
          </Text>
          <Text tagName="li" size="medium">
            Інші права, що передбаченні застосовним законодавством.
          </Text>
        </Stack>

        <Heading tagName="h2" size="h6"> 7. Зміни та доповнення</Heading>

        <Text tagName="p" size="medium">
          7.1. Ми залишаємо за собою право періодично вносити зміни та
          доповнення в цю Політику конфіденційності та публікувати їх нову
          редакцію на Сайті. Ви повинні періодично перевіряти цю веб-сторінку,
          щоб пересвідчитись, що володієте актуальною інформацією про обробку
          ваших персональних даних. Ми також можемо проінформувати вас про
          внесення змін до цієї Політики шляхом надсилання електронної пошти або
          через систему передачі приватних повідомлень Сайту.
        </Text>

        <Text tagName="p" size="medium">
          Контролер персональних даних: ГРОМАДСЬКА ОРГАНІЗАЦІЯ "ЕКО МІСТО
          ЧЕРНІГІВ" (код ЄДРПОУ 40963387).
        </Text>
      </div>
    </Stack>
  </Center>

  <style>
    .privacy-policy {
      padding-block-start: calc(var(--space-12-fixed) + var(--header-height));
      padding-block-end: var(--space-12-fixed);
    }

    .content :global(* + *) {
      margin-block-start: var(--space-6-fixed);
    }

    .content :global(h2) {
      font-size: var(--text-2);
      margin-block-start: var(--space-7-fixed);
    }

    .content :global(ul) {
      margin-inline-start: var(--space-7-fixed);
    }

    .content :global(ul) :global(li + li) {
      margin-block-start: var(--space-2);
    }
  </style>
</BaseLayout>
