---
// Tools
// Compositions
import Center from "@compositions/Center.astro";
import Stack from "../compositions/Stack.astro";
import Row from "../compositions/Row.astro";

// Components
import Heading from "@ui/Heading.astro";
import Text from "@ui/Text.astro";
import Partners from "./Donors.astro";
import Section from "../ui/Section.astro";
---

<Section class="about" isRounded>
  <Stack space="space-11">
    <Center maxWidth="80rem" space="space-7">
      <Row
        columnGap="space-4"
        rowGap={{ default: "space-7", laptop: "space-0" }}
      >
        <Heading
          tagName="h2"
          size="h5"
          class="font-heading col-12 tablet:col-10 tablet:col-start-2 laptop:col-5 laptop:col-start-2"
          >Організація функціонує в Чернігові з 2016 року і реалізувала понад 50
          проєктів в напрямку сталого розвитку, урбаністики та мейкерства.</Heading
        >

        <Stack
          space="space-6"
          class="col-12 tablet:col-10 tablet:col-start-2 laptop:col-4 laptop:col-start-8"
        >
          <Text tagName="p" size="x-large" class="font-medium"
            >Ми перші в Чернігові створили станцію сортування твердих побутових
            відходів та соціальне підприємство, почали переробляти пластик в
            фантастичні речі та трансформуємо колишній кінотеатр “Перемога” в
            центр стартапів та інновацій Peremoha Lab.
          </Text>

          <Text tagName="p" size="x-large" class="font-medium"
            >Наша мрія — перетворити Чернігів на прогресивне, комфортне та
            безпечне європейське місто, що розвивається за принципами цілей
            сталого розвитку.
          </Text>
        </Stack>
      </Row>
    </Center>

    <Partners />
  </Stack>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .about {
    padding-block: var(--space-11-fixed);
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
</style>
