---
// Tools

// Compositions
import Center from "../compositions/Center.astro";

// Components
import Achievment from "./Achievment.astro";
import Section from "../ui/Section.astro";
import MyPicture from "../ui/MyPicture.astro";

// Assets
import achievmentsBg from "../../assets/images/achievments-bg-final.jpg";

// Data
import { achievmentsData } from "@/data/siteData";
import Cluster from "../compositions/Cluster.astro";
---

<Section class="achievments">
  <Center
    maxWidth="87.5rem"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
  >
    <div class="achievments-container">
      <div class="bg-image">
        <MyPicture src={achievmentsBg} width={1400} alt="" />
      </div>
      <div class="achievments-inner">
        {
          achievmentsData.map((achievment) => (
            <Achievment achievment={achievment} />
          ))
        }
      </div>
    </div>
  </Center>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .achievments {
    /* padding-block-start: var(--space-7-fixed); */
    /* padding-block-end: var(--space-18-fixed); */
  }

  .achievments-container {
    position: relative;
  }

  .achievments-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--space-4-fixed);

    margin-block-start: var(--space-5-fixed);
  }

  .bg-image {
    overflow: hidden;
    border-radius: var(--rounded-2xl);

    @media (--laptop-and-up) {
      border-radius: var(--rounded-3xl);
    }

    & :global(img) {
      height: 400px;
      object-fit: cover;
      object-position: left;

      @media (--tablet-and-up) {
        height: 600px;
      }
    }
  }
</style>
