---
// Tools
import { Image } from "astro:assets";

// Components
import Achievment from "./Achievment.astro";

// Assets
import missionBgDesktop from "../../assets/images/mission-bg-desktop.jpg";
import Center from "../compositions/Center.astro";
import Section from "../ui/Section.astro";

// Data
const achievments = [
  {
    title: "424",
    description: "креативних заходів організовано",
    id: "green",
    "left-translateX": "-100%",
    "right-translateX": "100%",
    "right-rotate": "270deg",
  },
  {
    title: "365",
    description: "велосипедів видано в рамках кампанії #BikesForUkraine",
    id: "black",
    "left-translateX": "-100%",
    "right-translateX": "100%",
    "left-rotate": "90deg",
    "right-rotate": "180deg",
  },
  {
    title: "7",
    description: "просторів ревіталізовано",
    id: "gray",
    "left-translateX": "-100%",
    "right-translateX": "100%",
    "left-rotate": "90deg",
    "right-rotate": "180deg",
  },
];
---

<Section class="achievments">
  <Center maxWidth="87.5rem" space="space-7">
    <div class="achievments-container">
      <div class="bg-image">
        <Image src={missionBgDesktop} alt="" />
      </div>
      {achievments.map((achievment) => <Achievment achievment={achievment} />)}
    </div>
  </Center>
</Section>

<style>
  @import "../../styles/03-utilities/breakpoints.css";

  .achievments {
    padding-block-start: var(--space-7-fixed);
    padding-block-end: var(--space-18-fixed);
  }

  .achievments-container {
    position: relative;
  }

  .bg-image {
    overflow: hidden;
    border-radius: var(--rounded-2xl);

    @media (--laptop-and-up) {
      border-radius: var(--rounded-3xl);
    }

    & img {
      height: 600px;
      object-fit: cover;

      @media (--laptop-and-up) {
        height: 600px;
      }
    }
  }
</style>
