---
// Tools
import { getCollection } from "astro:content";

// Compositions
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
import ArchiveProjectCard from "../home/ArchiveProjectCard.astro";

// Data
const projects = await getCollection("projects", ({ data }) => !data.isDraft);

// TODO: How project should be sorted?
---

<Stack space="space-10">
  <Heading tagName="h3" size="h5">Реалізовані проєкти</Heading>

  <div class="archive-projects-list">
    {
      projects
        .filter((project, index) => !project.data.isActive && index < 3)
        .map((project) => {
          return <ArchiveProjectCard project={project} />;
        })
    }
  </div>
</Stack>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .archive-projects-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-9-fixed);

    @media (--tablet-and-up) {
      gap: calc(var(--space-10-fixed) - 10px);
    }

    @media (--laptop-and-up) {
      gap: var(--space-10-fixed);
    }
  }
</style>
