---
// Tools
import { Image } from "astro:assets";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Marquee from "../ui/Marquee.astro";
import Text from "../ui/Text.astro";

// Assets
import usaid from "@/assets/donors/USAID.svg";
import { Icon } from "astro-icon/components";
---

<section class="donors">
  <Center maxWidth="125rem" space="space-4">
    <Stack space="space-7">
      <Text tagName="div" size="large" class="text-center color-dark-gray"
        >Наші донори</Text
      >

      <Marquee direction="left" space="space-10" duration="slow">
        <div class="marquee-inner">
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
        </div>
      </Marquee>
    </Stack>
  </Center>
</section>

<style>
  .donors {
    color: var(--color-secondary);
    padding-block: var(--space-11-fixed);
    /* background-color: rebeccapurple; */

    & svg {
      width: 144px;
      height: auto;
      fill: currentColor;
    }
  }

  .red {
    border: 1px solid red;
  }
</style>
