---
// Tools
import { Icon } from "astro-icon/components";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Marquee from "../ui/Marquee.astro";
import Text from "../ui/Text.astro";

// Assets
---

<section class="donors">
  <Center maxWidth="125rem" space="space-4">
    <Stack space="space-9">
      <div class="title">
        <Text
          tagName="div"
          size="medium"
          class="color-dark-gray"
          isBadge
          variant="outline">Донори</Text
        >
      </div>

      <Marquee direction="left" space="space-10" duration="slow">
        <div class="marquee-inner">
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
          <Icon name="donors-usaid" />
        </div>
      </Marquee>
    </Stack>
  </Center>
</section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .donors {
    --_padding: var(--space-10-fixed);

    color: var(--color-secondary);
    padding-block: var(--_padding);
    /* background-color: rebeccapurple; */

    & svg {
      width: 144px;
      height: auto;
      fill: currentColor;
    }

    @media (--tablet-and-up) {
      --_padding: var(--space-11-fixed);
    }
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .red {
    border: 1px solid red;
  }
</style>
