---
// Tools
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// Compositions
import Center from "../compositions/Center.astro";
import Row from "../compositions/Row.astro";

// Components
import Heading from "../ui/Heading.astro";
import Text from "../ui/Text.astro";
import Shape from "../ui/Shape.astro";
import VideoModal from "../ui/VideoModal.astro";
import Button from "../ui/Button.astro";

// Assets
import heroImg from "@/assets/images/hero.jpg";
import Section from "../ui/Section.astro";
---

<Section class="hero" isRoundBottom color="secondary">
  <Center maxWidth="87.5rem" space={{ default: "space-6", tablet: "space-7" }}>
    <Row
      class="hero-grid"
      rowGap={{ default: "space-6", tablet: "space-12", laptop: "space-0" }}
      alignItems="center"
    >
      <div class="hero-text col-12">
        <Heading tagName="h1" size="h1" class="font-heading"
          >Події. Простори.<br />Спільнота.</Heading
        >
      </div>

      <div class="about-text col-12">
        <Text tagName="p" size="large" class="color-accent"
          >Організація функціонує в Чернігові з 2016 року і реалізувала понад 50
          проєктів в напрямку сталого розвитку, урбаністики та мейкерства. Також
          перетворюємо колишній кінотеатр "Перемога" на центр стартапів та
          інновацій Peremoha Lab.</Text
        >
      </div>

      <div class="hero-image col-12 tablet:col-10 laptop:col-8">
        <div class="img-wrapper">
          <Image src={heroImg} alt="" />
        </div>

        <div class="action">
          <Button
            data-open-modal
            aria-label="Open ecomisto showreel modal"
            aria-expanded="false"
          >
            <Icon name="icon-play" size={32} />
          </Button>

          <VideoModal>
            <div class="video-container">
              <video
                src="/ecomisto-showreel.mp4"
                controls
                autoplay
                playsinline
                muted></video>
            </div>
          </VideoModal>
        </div>

        <div class="about-text tablet">
          <Shape color="black" class="left" translateX="-100%" />
          <Shape color="secondary" class="bottom" translateY="100%" />
          <Text tagName="p" size="medium" class="color-primary"
            >Організація функціонує в Чернігові з 2016 року і реалізувала понад
            50 проєктів в напрямку сталого розвитку, урбаністики та мейкерства.
            Також перетворюємо колишній кінотеатр "Перемога" на центр стартапів
            та інновацій Peremoha Lab.</Text
          >
        </div>

        <div class="hero-text laptop">
          <Shape color="secondary" class="left" translateX="-100%" />
          <Shape color="secondary" class="bottom" translateY="100%" />
          <Heading tagName="h1" size="h1" class="font-heading"
            >Події. Простори.<br />Спільнота.</Heading
          >
        </div>
      </div>
    </Row>
  </Center>
</Section>

<style>
  @import "../../styles/03-utilities/breakpoints.css";

  .hero {
    --_border-radius: var(--rounded-2xl);
    --_padding-top: var(--space-4-fixed);
    --_padding-bottom: var(--space-8-fixed);

    padding-block-start: calc(var(--_padding-top) + var(--header-height));
    padding-block-end: var(--_padding-bottom);

    background-color: var(--color-secondary);

    /* border-bottom-left-radius: var(--_border-radius); */
    /* border-bottom-right-radius: var(--_border-radius); */

    @media (--tablet-and-up) {
      --_padding-top: var(--space-10-fixed);
      --_padding-bottom: var(--space-10-fixed);
    }

    @media (--laptop-and-up) {
      --_border-radius: var(--rounded-3xl);
      --_padding-top: var(--space-17-fixed);
      --_padding-bottom: var(--space-12-fixed);
    }
  }

  .hero-grid {
    position: relative;
  }

  .hero-image,
  .about-text {
    @media (--laptop-and-up) {
      grid-row-start: 1;
    }
  }

  .hero-image {
    position: relative;

    @media (--laptop-and-up) {
      grid-column-start: 1;
    }
  }

  .img-wrapper {
    border-radius: var(--rounded-2xl);

    /* To enable border-radius */
    overflow: hidden;

    & img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }

    @media (--laptop-and-up) {
      border-radius: var(--rounded-3xl);

      & img {
        height: 33.5rem;
      }
    }
  }

  .hero-text {
    display: block;

    position: relative;
    color: var(--color-primary);

    @media (--laptop-and-up) {
      display: none;
    }
  }

  .hero-text.laptop {
    display: none;

    @media (--laptop-and-up) {
      display: block;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;

      /* Fixed width to prevent shape shift, if text is translated to english */
      width: 51.875rem;

      padding-inline-start: var(--space-7-fixed);
      padding-block-end: var(--space-2-fixed);

      background-color: var(--color-secondary);

      border-bottom-left-radius: var(--rounded-3xl);

      transform: translateX(40%) translateY(-50%);

      & h1 {
        white-space: nowrap;
      }

      & .shape.left {
        top: 6.7rem;
        left: 0;
        margin-left: 2px;
      }

      & .shape.bottom {
        bottom: 0;
        right: 20.6rem;
        margin-bottom: 2px;
        margin-right: 0px;
      }
    }
  }

  /* TEMP */
  .action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
    background-color: var(--color-primary);
    border-radius: 50%;
  }

  .about-text {
    @media (--tablet-and-up) {
      display: none;
    }

    @media (--laptop-and-up) {
      display: block;
      grid-column-start: 9;

      padding-inline-start: var(--space-7-fixed);
      padding-block-start: var(--space-12-fixed);
    }

    & p {
      /* opacity: 0.7; */
    }
  }

  .about-text.tablet {
    display: none;

    @media (--tablet-and-up) {
      display: block;

      position: absolute;
      top: 0;
      right: 0;

      /* Fluid max-width */
      max-width: 21rem;
      max-width: clamp(21rem, 10rem + 32vw, 32rem);

      padding-inline-start: var(--space-7-fixed);
      padding-block-end: var(--space-4-fixed);

      background-color: var(--color-secondary);
      border-bottom-left-radius: var(--rounded-2xl);

      transform: translateY(-50%) translateX(25%);

      & p {
        /* Override text with fluid font-size */
        font-size: 1rem;
        font-size: clamp(1rem, 0.875rem + 0.36363636363636365vw, 1.125rem);
      }

      & .shape.left {
        /* TODO: fluid top */
        top: 4.7rem;
        left: 0;
        margin-top: -1px;
        margin-left: 1px;
      }
      & .shape.bottom {
        bottom: 0;

        /* Fluid right to synchronize with font size */
        right: 5.2rem;
        right: clamp(5.2rem, 2.4000000000000004rem + 8.145454545454545vw, 8rem);

        margin-bottom: 1px;
        margin-right: -1px;
      }
    }

    @media (--laptop-and-up) {
      display: none;
    }
  }
</style>
