---
// TODO: Define proper html semantic structure

// Tools

// Compositions
import Center from "../compositions/Center.astro";
import Row from "../compositions/Row.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "../ui/Heading.astro";
import Section from "../ui/Section.astro";
import Text from "../ui/Text.astro";
import Achievments from "./Achievments.astro";

// Assets

// Data
---

<Section color="secondary" isRound class="mission">
  <Stack space={{ default: "space-10", tablet: "space-12" }}>
    <Center
      maxWidth="87.5rem"
      space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
    >
      <Row>
        <Stack space="space-4" class="col-12 tablet:col-9 laptop:col-8">
          <Text
            tagName="div"
            size="large"
            class="font-medium"
            variant="accent"
            isBadge>Місія</Text
          >
          <Heading
            tagName="h3"
            size="h4"
            class="mission-text color-primary font-heading"
          >
            Сприяти сталому розвитку Чернігова шляхом впровадження інноваційних
            та креативних рішень, залучаючи спільноту на всіх рівнях.
          </Heading>
        </Stack>
      </Row>
    </Center>

    <Achievments />
  </Stack>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .mission {
    padding-block-start: var(--space-11-fixed);
    padding-block-end: var(--space-12-fixed);

    @media (--tablet-and-up) {
      padding-block-end: var(--space-15-fixed);
    }

    @media (--laptop-and-up) {
      padding-block-start: var(--space-15-fixed);
      padding-block-end: var(--space-17-fixed);
    }
  }

  .mission-text {
    /* text-align: center; */
    /* text-indent: 3em; */

    /* 23px (320) -> 48.8px (1400) */
    font-size: var(--heading-4);
    font-size: clamp(
      1.44rem,
      0.962962962962963rem + 2.385185185185185vw,
      3.05rem
    );

    line-height: 1.1;
    text-wrap: wrap;
  }
</style>
