---
// Tools
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Section from "../ui/Section.astro";
import ActiveProjects from "../ActiveProjects.astro";
import ArchiveProjects from "./ArchiveProjects.astro";
import ButtonArrow from "../ui/ButtonArrow.astro";

// Data
import { buttonsData } from "@/data/siteData";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale as Lang;
const buttons = buttonsData[currentLocale];
---

<Section class="projects">
  <Center
    maxWidth="87.5rem"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
  >
    <Stack space="space-10">
      <Stack
        space={{ default: "space-12", tablet: "space-14", laptop: "space-16" }}
      >
        <ActiveProjects />
        <ArchiveProjects />
      </Stack>
      <ButtonArrow
        tagName="a"
        style="secondary"
        href={`${getRelativeLocaleUrl(currentLocale, "/projects")}`}
        class="all-projects"
        >{buttons.allProjects}
      </ButtonArrow>
    </Stack>
  </Center>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .projects {
    padding-block: var(--space-11-fixed);
  }

  .all-projects {
    align-self: center;
  }
</style>
