---
// Tools
import type { CollectionEntry } from "astro:content";

// Compositions
import Frame from "../compositions/Frame.astro";

// Components
import Text from "../ui/Text.astro";
import Shape from "../ui/Shape.astro";
import MyPicture from "../ui/MyPicture.astro";

// Data
type Props = {
  member: CollectionEntry<"members">;
};

const { member } = Astro.props;
const { name, position, picture } = member.data;
---

<figure class="team-member">
  <Frame ratio="3:4" class="member-photo">
    <MyPicture src={picture} alt="" />
  </Frame>
  <figcaption class="member-info">
    <div class="wrapper">
      <Shape color="white" class="top" translateY="-100%" rotate="180deg" />
      <Shape color="white" class="right" translateX="100%" rotate="180deg" />
      <div class="info">
        <Text tagName="span" size="medium" isBolded>{name}</Text>
        <Text tagName="span" size="small" class="position">{position}</Text>
      </div>
    </div>
  </figcaption>
</figure>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .team-member {
    --_border-radius: var(--rounded-2xl);

    /* TODO: uncomment when team is ready */
    /* width: 250px; */
    position: relative;

    border-top-left-radius: var(--_border-radius);
    border-top-right-radius: var(--_border-radius);
    border-bottom-right-radius: var(--_border-radius);

    background-color: var(--color-primary);

    @media (--tablet-and-up) {
      width: auto;
    }

    @media (--laptop-and-up) {
      --_border-radius: var(--rounded-3xl);
    }
  }

  .member-photo {
    border-bottom-right-radius: var(--_border-radius);
  }

  .member-info {
    position: absolute;
    left: -1px;
    bottom: -1px;

    padding-block-start: var(--space-3-fixed);
    padding-inline-end: var(--space-6-fixed);
    border-top-right-radius: var(--_border-radius);
    color: var(--color-secondary);
    background-color: var(--color-white);
  }

  .info {
    & span {
      display: block;
    }

    & .position {
      opacity: 0.8;
    }
  }

  /* Shape custom positioning */
  /* TODO: maybe another way to style this? */
  .top {
    top: 1px;
    left: -1px;
  }

  .right {
    right: 1px;
    bottom: -1px;
  }
</style>
