---
// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "../ui/Heading.astro";
import Section from "../ui/Section.astro";
import TeamMembers from "./TeamMembers.astro";
---

<Section class="team" isRoundTop color="white">
  <Center maxWidth="87.5rem" space="space-9">
    <Stack space="space-9">
      <Heading tagName="h3" size="h4" class="font-heading">Команда</Heading>
      <TeamMembers />
    </Stack>
  </Center>
</Section>

<style>
  .team {
    padding-block: var(--space-11-fixed);
    color: var(--color-secondary);
  }
</style>
