---
// Tools
import { getCollection } from "astro:content";

// Compositions
import AutoGrid from "../compositions/AutoGrid.astro";
import Reel from "../compositions/Reel.astro";

// Components
import TeamMember from "./TeamMember.astro";

// Data
const members = await getCollection("members");
---

<!-- <Reel role="list" thumbColor="secondary" trackColor="white" class="members">
  {
    members.map((member) => {
      return (
        <div role="listitem" class="reel-item">
          <TeamMember member={member} />
        </div>
      );
    })
  }
</Reel>

<AutoGrid
  minItemWidth="220px"
  maxColumns="1"
  space="space-6"
  role="list"
  class="members tablet"
>
  {
    members.map((member) => {
      return (
        <div role="listitem">
          <TeamMember member={member} />
        </div>
      );
    })
  }
</AutoGrid> -->
<div class="members-test">
  <TeamMember member={members[0]} />
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  /* TODO: Remove later */
  .members-test {
    min-width: 220px;
    max-width: 320px;
  }

  .members {
    color: var(--color-secondary);

    @media (--tablet-and-up) {
      display: none;
    }
  }

  .members.tablet {
    display: none;

    @media (--tablet-and-up) {
      display: grid;
    }
  }
</style>
