---
// Tools
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Center from "../compositions/Center.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "../ui/Heading.astro";
import Section from "../ui/Section.astro";
import TeamMembers from "./TeamMembers.astro";

const currentLocale = Astro.currentLocale as Lang;
---

<Section class="team" isRoundTop color="white">
  <Center
    maxWidth="87.5rem"
    space={{ default: "space-6", tablet: "space-7", laptop: "space-9" }}
  >
    <Stack space="space-10">
      <Heading tagName="h3" size="h6" class="color-secondary"
        >{currentLocale === "ua" ? "Команда" : "Our team"}</Heading
      >
      <TeamMembers />
    </Stack>
  </Center>
</Section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .team {
    padding-block: var(--space-11-fixed);
  }
</style>
