---
// Tools

// Helpers
import { parseTitle } from "@/lib/helpers";

// Compositions
import Center from "@compositions/Center.astro";
import AutoGrid from "@compositions/AutoGrid.astro";
import Stack from "../compositions/Stack.astro";

// Components
import Heading from "@ui/Heading.astro";
import YoutubeVideo from "./YoutubeVideo.astro";
import DummyVideo from "./DummyVideo.astro";

// Data
const apiKey = import.meta.env.YOUTUBE_API_KEY;
const channelId = "UCCh0j7kJcOeSmOi2vJDc6Tw";

type YoutubeVideos = {
  thumbnail: string;
  title: string;
  videoId: string;
};

let youtubeVideos: YoutubeVideos[] = [];

// Using top-level await
// We don't need to woory about blocking code
// Because we are using SSG nad it will be rendered once at build

try {
  const response = await fetch(
    `https://www.googleapis.com/youtube/v3/search?key=${apiKey}&channelId=${channelId}&part=snippet,id&order=date&maxResults=3`
  );

  const data = await response.json();

  console.log(data);

  // Get desired data shape
  // &#39;
  youtubeVideos = data.items.map((item: any) => {
    return {
      thumbnail: item.snippet.thumbnails.high.url,
      title: parseTitle(item.snippet.title),
      videoId: item.id.videoId,
    };
  });
} catch (error) {
  console.log(error);
  console.log("Error fetching youtube videos");
}
---

<section class="youtube">
  <Center maxWidth="87.5rem" space="space-6">
    <Stack space="space-10">
      <Heading tagName="h3" size="h6">Відеоархів</Heading>

      <AutoGrid role="list" minItemWidth="265px">
        {
          youtubeVideos.length === 0 ? (
            <>
              <DummyVideo
                title={`Онлайн-лекція "Майбутнє Кривого Рогу через призму інтегрованого урбан
      дизайну"`}
              />
              <DummyVideo
                title={`Онлайн-лекція "Майбутнє Кривого Рогу через призму інтегрованого урбан
      дизайну"`}
              />
              <DummyVideo title={`Онлайн-лекція "Майбутнє"`} />
            </>
          ) : (
            youtubeVideos.map((video) => {
              return (
                <div role="listitem">
                  <YoutubeVideo video={video} />
                </div>
              );
            })
          )
        }
      </AutoGrid>
    </Stack>
  </Center>
</section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .youtube {
    padding-block: var(--space-11-fixed);
  }
</style>
