---
// Tools
import { Icon } from "astro-icon/components";
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Stack from "./compositions/Stack.astro";

// Components
import Text from "./ui/Text.astro";

// Data
import { contactsData } from "@/data/siteData";
import Link from "./ui/Link.astro";

const currentLocale = Astro.currentLocale as Lang;
---

<div class="contacts">
  <Stack space="space-4">
    <Text tagName="div" size="small"
      >{currentLocale === "ua" ? "Контактні дані" : "Contact Information"}</Text
    >
    <Stack space="space-3" tagName="ul" role="list">
      {
        contactsData[currentLocale].map((contact) => {
          return (
            <li class="contact-item">
              <Icon name={contact.icon} size={14} />
              <Link href={contact.href} isHovered isExternal target="_blank">
                {contact.description}
              </Link>
            </li>
          );
        })
      }
    </Stack>
  </Stack>
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .contacts {
    max-width: 14rem;
  }

  .contact-item {
    display: flex;
    align-items: baseline;
    gap: var(--space-3-fixed);

    & svg {
      --_size: var(--space-4-fixed);

      flex-shrink: 0;
      inline-size: var(--_size);
      block-size: var(--_size);

      fill: currentColor;
      stroke: currentColor;

      transform: translateY(2px);
    }

    & a {
      font-size: var(--text-minus-1);
      font-weight: var(--font-medium);
      color: var(--color-secondary);
    }
  }
</style>
