---
// Tools

// Compositions
import Stack from "./compositions/Stack.astro";
import Button from "./ui/Button.astro";

// Components
import InputGroup from "./ui/InputGroup.astro";

// Data
import { cooperationData } from "@/data/siteData";
import Text from "./ui/Text.astro";
---

<form action="">
  <Stack space="space-6">
    <Stack space="space-5">
      {cooperationData.map((data) => <InputGroup data={data} />)}
    </Stack>

    <div class="checkbox-group">
      <Text tagName="label" size="medium" for="consent"
        >Даю згоду на обробку персональних даних</Text
      >
      <input type="checkbox" name="consent" id="consent" required />
    </div>
    <Button type="submit"> Надіслати </Button>
  </Stack>
</form>

<style>
  .checkbox-group {
    display: flex;
    gap: var(--space-4-fixed);
    align-items: center;

    & label {
      order: 2;
    }

    & input[type="checkbox"] {
      cursor: pointer;
      width: 24px;
      height: 24px;

      accent-color: var(--color-primary);

      order: 1;
    }
  }
</style>
