---
// Tools

// Compositions
import UserDataAgreement from "./UserDataAgreement.astro";
import Cluster from "./compositions/Cluster.astro";
import Stack from "./compositions/Stack.astro";
import Button from "./ui/Button.astro";

// Components
import Heading from "./ui/Heading.astro";
import InputGroup from "./ui/InputGroup.astro";
import Text from "./ui/Text.astro";

const donateData = [
  {
    label: "Введіть суму *",
    formControl: "input",
    name: "number",
    placeholder: "0",
    type: "number",
    required: true,
    // pattern: "^[^@]+@[^@]+.[^@]+$",
  },
  {
    label: "Ваша пошта *",
    formControl: "input",
    name: "email",
    placeholder: "marusya@gmail.com",
    type: "email",
    required: true,
    pattern: "^[^@]+@[^@]+.[^@]+$",
  },
];

const [numberData, emailData] = donateData;
console.log(numberData);
console.log(emailData);
---

<aside class="donate aside-modal">
  <form action="" data-form="donate">
    <Stack space="space-4" class="header">
      <Heading tagName="h2" size="h6" class="color-secondary font-heading"
        >Зробити внесок</Heading
      >
      <Text tagName="p" size="small"
        >Усі кошти будуть витрачені на забезпечення адміністративної діяльності
        громадської організації “Еко Місто Чернігів” та нові інноваційні проєкту
        для розвитку міста.</Text
      >
    </Stack>
    <div class="main">
      <Stack space="space-8">
        <Stack space="space-4">
          <InputGroup data={numberData} />

          <Cluster space="space-3" class="choice-row">
            <Button style="accent" size="x-small" class="chip" type="button"
              >+100</Button
            >
            <Button style="accent" size="x-small" class="chip" type="button"
              >+200</Button
            >
            <Button style="accent" size="x-small" class="chip" type="button"
              >+500</Button
            >
          </Cluster>
        </Stack>
        <InputGroup data={emailData} />
      </Stack>
    </div>

    <Stack space="space-7" class="footer">
      <UserDataAgreement />
      <Button style="secondary" type="submit"> Підтримати </Button>
    </Stack>
  </form>
</aside>

<script>
  const donateForm = document.querySelector(
    "form[data-form='donate']"
  ) as HTMLFormElement;

  const moneyInputElement = donateForm.querySelector(
    'input[type="number"]'
  ) as HTMLInputElement;

  function handleChoice(event: Event) {
    const target = event.target as HTMLElement;
    if (!target.matches(".chip")) return;

    const choice = Number(target.textContent);
    const moneyInput = Number(moneyInputElement.value);

    moneyInputElement.value = (choice + moneyInput).toString();
  }

  donateForm?.addEventListener("click", handleChoice);
</script>
