---
// Tools

// Compositions
import UserDataAgreement from "./UserDataAgreement.astro";
import Cluster from "./compositions/Cluster.astro";
import Stack from "./compositions/Stack.astro";
import Button from "./ui/Button.astro";

// Components
import Heading from "./ui/Heading.astro";
import InputGroup from "./ui/InputGroup.astro";
import Text from "./ui/Text.astro";

const donateData = [
  {
    label: "Введіть суму *",
    formControl: "input",
    name: "number",
    placeholder: "0",
    type: "number",
    required: true,
    // pattern: "^[^@]+@[^@]+.[^@]+$",
  },
  {
    label: "Ваша пошта *",
    formControl: "input",
    name: "email",
    placeholder: "marusya@gmail.com",
    type: "email",
    required: true,
    pattern: "^[^@]+@[^@]+.[^@]+$",
  },
];

const [numberData, emailData] = donateData;
---

<aside class="donate aside-modal">
  <form action="" data-form="donate">
    <Stack space="space-4" class="header">
      <Heading tagName="h2" size="h6" class="color-secondary font-heading"
        >Зробити внесок</Heading
      >
      <Text tagName="p" size="small"
        >Усі кошти будуть витрачені на забезпечення адміністративної діяльності
        громадської організації “Еко Місто Чернігів” та нові інноваційні проєкту
        для розвитку міста.</Text
      >
    </Stack>
    <div class="main">
      <Stack space="space-8">
        <Stack space="space-4">
          <InputGroup data={numberData} />

          <Cluster space="space-3" class="choice-row">
            <Button style="accent" size="x-small" class="chip" type="button"
              >+100</Button
            >
            <Button style="accent" size="x-small" class="chip" type="button"
              >+200</Button
            >
            <Button style="accent" size="x-small" class="chip" type="button"
              >+500</Button
            >
          </Cluster>
        </Stack>
        <InputGroup data={emailData} />
      </Stack>
    </div>

    <Stack space="space-7" class="footer">
      <UserDataAgreement />
      <Button style="secondary" type="submit"> Підтримати </Button>
    </Stack>
  </form>
</aside>

<script>
  import sanitizeHtml from "sanitize-html";

  type FormValues = {
    number: string;
    email: string;
  };

  // Get all forms
  const forms = [
    ...document.querySelectorAll("form[data-form='donate']"),
  ] as HTMLFormElement[];

  // Loop through them
  forms.forEach((form) => {
    /**
     * Elements
     */
    // Get number element
    const moneyInputElement = form.querySelector(
      'input[type="number"]'
    ) as HTMLInputElement;

    /**
     * Functinos
     */

    /**
     * Add choice values to a number input
     * @param {Object} event
     */
    function handleClick(event: Event) {
      // Matching strategy
      const target = event.target as HTMLElement;
      if (!target.matches(".chip")) return;

      // Get choice and number input values and convert them to a number
      const choice = Number(target.textContent);
      const moneyInput = Number(moneyInputElement.value);

      // Set new number input value and convert it to string
      moneyInputElement.value = (choice + moneyInput).toString();
    }

    /**
     * TODO: Submit data to liqpay and sendpulse
     * @param {Object} event
     */
    function handleSubmit(event: SubmitEvent) {
      event.preventDefault();

      // Get data
      const data = new FormData(form);
      let { number, email } = Object.fromEntries(data) as FormValues;

      // If no values do nohing
      if (!number || !email) {
        // TODO: Show errors in the UI
        console.log("Please include all required values");
        return;
      }

      // Sanitize values
      email = sanitizeHtml(email.trim());
      number = sanitizeHtml(number.trim());

      console.log("submit");
      console.log(number);
      console.log(email);
    }

    /**
     * Event Liseners
     */
    form?.addEventListener("click", handleClick);
    form?.addEventListener("submit", handleSubmit);
  });
</script>
