---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
import Center from "./compositions/Center.astro";
import Cluster from "./compositions/Cluster.astro";
import ButtonLink from "./ui/ButtonLink.astro";
---

<header>
  <Center maxWidth="80rem" space="space-4">
    <Cluster isCenterMiddle alignItems="center">
      <Logo />
      <Nav />
      <div class="support-action">
        <Cluster space="space-0" justify="end">
          <ButtonLink href="#">Підтримати</ButtonLink>
        </Cluster>
      </div>
    </Cluster>
  </Center>
</header>

<style>
  header {
    padding-block: var(--space-7-fixed);
  }
</style>
