---
// Tools
import { Icon } from "astro-icon/components";

// Compositions
import Center from "./compositions/Center.astro";
import Cluster from "./compositions/Cluster.astro";

// Componnets
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
import ButtonLink from "./ui/ButtonLink.astro";
import Button from "./ui/Button.astro";

// Assets
---

<header>
  <Center maxWidth="87.5rem" space={{ default: "space-6", tablet: "space-7" }}>
    <Cluster isCenterMiddle alignItems="center" class="desktop">
      <Logo
        name="ecomisto-logo"
        color="secondary"
        style={{ "--width": "160px" }}
      />
      <Nav color="secondary" />
      <div class="support-action">
        <Cluster space="space-0" justify="end">
          <ButtonLink href="/donate">Підтримати</ButtonLink>
        </Cluster>
      </div>
    </Cluster>

    <Cluster alignItems="center" justify="between" class="mobile">
      <Logo
        name="ecomisto-symbol"
        color="secondary"
        style={{ "--width": "32px" }}
      />

      <Button>
        <Icon name="icon-menu" size={32} />
      </Button>
    </Cluster>
  </Center>
</header>

<style>
  @import "@styles/03-utilities/breakpoints.css";

  header {
    padding-block: var(--space-7-fixed);
  }

  header .mobile {
    & button {
      color: var(--color-secondary);
    }

    @media (--tablet-and-up) {
      display: none;
    }
  }

  header .desktop {
    display: none;

    @media (--tablet-and-up) {
      display: flex;
    }
  }
</style>
