---
// Tools
import { Icon } from "astro-icon/components";

// Compositions

import Cluster from "./compositions/Cluster.astro";

// Componnets
import Logo from "./Logo.astro";
import Nav from "./MainNav.astro";
import ButtonLink from "./ui/ButtonLink.astro";
import Button from "./ui/Button.astro";

// Assets
---

<header>
  <div class="wrapper">
    <Cluster isCenterMiddle alignItems="center" class="header-inner desktop">
      <Logo
        name="ecomisto-logo"
        color="primary"
        style={{ "--width": "160px" }}
      />
      <Nav color="accent" />
      <div class="support-action">
        <Cluster space="space-0" justify="end">
          <Button
            tagName="a"
            style="primary"
            size="small"
            href="/donate"
            class="support"
            >Підтримати <Icon
              name="icon-heart"
              aria-hidden="true"
              focusable="false"
            /></Button
          >
        </Cluster>
      </div>
    </Cluster>

    <Cluster alignItems="center" justify="between" class="header-inner mobile">
      <Logo
        name="ecomisto-symbol"
        color="primary"
        style={{ "--width": "32px" }}
      />

      <Button
        style="icon"
        aria-label="Open main menu"
        aria-expanded="false"
        isDefault={false}
        class="open-menu"
      >
        <Icon name="icon-menu" size={32} />
        <span class="sr-only">Open main menu</span>
      </Button>
    </Cluster>
  </div>
</header>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  /* Custom breakpoint */
  @custom-media --tablet-l-and-up (width >= 48em);

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    max-width: 125rem;
    height: var(--header-height);

    padding-inline: var(--space-6-fixed);
    background-color: transparent;

    transition: max-width 300ms var(--ease);

    @media (--tablet-and-up) {
      padding-inline: var(--space-7-fixed);
    }
  }

  .wrapper {
    width: 100%;
    padding-block: var(--space-3-fixed);

    transition:
      background-color 300ms var(--ease),
      padding 300ms var(--ease),
      border-radius 300ms var(--ease);

    @media (--tablet-and-up) {
      padding-block: var(--space-4-fixed);
    }
  }

  .open-menu {
    color: var(--color-primary);
    transition: opacity var(--transition-default);
    padding: 0;

    &:hover {
      opacity: 0.5;
    }
  }

  /*
  * STATES 
  */

  /* Fixed header  */

  header.fixed {
    max-width: 60rem;
  }

  header.fixed .wrapper {
    padding-inline: var(--space-5-fixed);

    background-color: var(--color-primary);

    border-radius: 9999px;

    transition:
      background-color 300ms var(--ease),
      padding 300ms var(--ease),
      border-radius 300ms var(--ease);

    @media (--tablet-and-up) {
      padding-inline: var(--space-7-fixed);
    }
  }

  /* Somehow i can't target nav from here, so is use :global directive */
  header.fixed .logo,
  header.fixed :global(.main-nav),
  header.fixed .open-menu {
    color: var(--color-secondary);
  }

  /* Responsive header */

  header .mobile {
    @media (--tablet-l-and-up) {
      display: none;
    }
  }

  header .desktop {
    display: none;

    @media (--tablet-l-and-up) {
      display: flex;
    }
  }
</style>

<script>
  const header = document.querySelector("header") as HTMLElement;
  const supportButton = header.querySelector(".support");

  const THRESHOLD = 8 as number;

  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY || document.documentElement.scrollTop;

    if (scrollTop > THRESHOLD) {
      header?.classList.add("fixed");
      supportButton?.classList.add("secondary");
      supportButton?.classList.remove("primary");
    } else {
      header?.classList.remove("fixed");
      supportButton?.classList.remove("secondary");
      supportButton?.classList.add("primary");
    }
  });
</script>
