---
// Tools
import { Icon } from "astro-icon/components";

// Compositions

import Cluster from "./compositions/Cluster.astro";

// Componnets
import Logo from "./Logo.astro";
import MainNav from "./MainNav.astro";
import Button from "./ui/Button.astro";
import MobileMenuModal from "./ui/MobileMenuModal.astro";
import MobileNav from "./MobileNav.astro";
import MobileMenu from "./MobileMenu.astro";
import SideModal from "./ui/SideModal.astro";
import Donate from "./Donate.astro";

// Assets
---

<header class="is-visible">
  <div class="wrapper">
    <Cluster isCenterMiddle alignItems="center" class="header-inner desktop">
      <Logo
        name="ecomisto-logo"
        color="primary"
        style={{ "--width": "160px" }}
      />
      <MainNav color="accent" />
      <div class="support-action">
        <Cluster space="space-0" justify="end">
          <Button
            style="primary"
            size="small"
            class="support"
            data-open-modal
            aria-label="Open donate form modal"
            aria-expanded="false"
            >Підтримати <Icon
              name="icon-heart"
              aria-hidden="true"
              focusable="false"
            /></Button
          >

          <SideModal name="donate-form">
            <Donate />
          </SideModal>
        </Cluster>
      </div>
    </Cluster>

    <Cluster alignItems="center" justify="between" class="header-inner mobile">
      <Logo
        name="ecomisto-logo"
        color="primary"
        style={{ "--width": "136px" }}
      />

      <Button
        variant="icon"
        aria-label="Open main menu"
        aria-expanded="false"
        data-open-modal
        isDefault={false}
        class="open-menu"
      >
        <Icon name="icon-menu" size={32} />
        <span class="sr-only">Open main menu</span>
      </Button>

      <MobileMenuModal>
        <MobileMenu />
      </MobileMenuModal>
    </Cluster>
  </div>
</header>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  /* Custom breakpoint */
  @custom-media --tablet-l-and-up (width >= 48em);

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    max-width: 125rem;
    height: var(--header-height);

    padding-inline: var(--space-6-fixed);
    background-color: transparent;

    transform: translateY(-100%);
    transition:
      transform 340ms var(--ease),
      max-width 200ms var(--ease);

    @media (--tablet-and-up) {
      padding-inline: var(--space-7-fixed);
    }
  }

  .wrapper {
    --_border-radius: var(--rounded-3xl);

    width: 100%;
    padding-block: var(--space-1-fixed);

    border-radius: var(--_border-radius);

    transition:
      background-color 200ms var(--ease),
      padding 200ms var(--ease),
      border-radius 200ms var(--ease);

    @media (--tablet-l-and-up) {
      padding-block: var(--space-3-fixed);
    }
  }

  .open-menu {
    color: var(--color-primary);
    transition: opacity var(--transition-default);
    padding: 0;

    &:hover {
      opacity: 0.5;
    }
  }

  /*
  * STATES 
  */

  /* Fixed header  */

  header.fixed {
    max-width: 60rem;
  }

  header.fixed .wrapper {
    padding-inline: var(--space-5-fixed);

    background-color: var(--color-primary);

    /* transition:
      background-color 300ms var(--ease),
      padding 300ms var(--ease),
      border-radius 300ms var(--ease); */

    @media (--tablet-and-up) {
      padding-inline: var(--space-7-fixed);
    }
  }

  /* Somehow i can't target nav from here, so is use :global directive */
  header.fixed .logo,
  header.fixed :global(.main-nav),
  header.fixed .open-menu {
    color: var(--color-secondary);
  }

  /* Show/hide header */

  header.is-visible {
    transform: translateY(0);
  }

  /* Responsive header */

  header .mobile {
    /* display: none; */
    @media (--tablet-l-and-up) {
      display: none;
    }
  }

  header .desktop {
    display: none;

    @media (--tablet-l-and-up) {
      display: flex;
    }
  }
</style>

<script>
  // Fixed header
  const header = document.querySelector("header") as HTMLElement;
  const supportButton = header.querySelector(".support");

  const THRESHOLD = 8 as number;

  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY || document.documentElement.scrollTop;

    if (scrollTop > THRESHOLD) {
      header?.classList.add("fixed");
      supportButton?.setAttribute("data-style", "secondary");
      // supportButton?.classList.remove("primary");
    } else {
      header?.classList.remove("fixed");
      // supportButton?.classList.remove("secondary");
      supportButton?.setAttribute("data-style", "primary");
    }
  });

  // Set active state on site-nav
  const { pathname } = window.location;

  function getBasePath(path: string) {
    const parts = path.split("/");

    if (parts.length >= 2) {
      return `/${parts[1]}`;
    }

    return "";
  }

  // TODO: Adjust to select a mobile navigation
  const activeNavigationElements = [
    ...document.querySelectorAll(
      `.site-nav a[href="${getBasePath(pathname)}"]`
    ),
  ];

  activeNavigationElements.forEach((navElement) => {
    if (navElement) {
      navElement.classList.add("active");
    }
  });
</script>
