---
// Tools
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Cluster from "./compositions/Cluster.astro";

// Components
import Link from "./ui/Link.astro";

// Data
import { navData } from "@/data/siteData";
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = {
  color?: "primary" | "secondary" | "accent";
};

const { color } = Astro.props;

const currentLocale = Astro.currentLocale as Lang;
---

<nav class:list={["site-nav main-nav", { ["color-" + color]: color }]}>
  <Cluster tagName="ul" role="list" space="space-6">
    {
      navData[currentLocale].map((navItem) => {
        return (
          <li>
            <Link
              href={
                navItem.href === "#contacts"
                  ? "#contacts"
                  : getRelativeLocaleUrl(currentLocale, navItem.href)
              }
              isHovered
              class="nav-link"
            >
              {navItem.title}
            </Link>
          </li>
        );
      })
    }
  </Cluster>
</nav>

<style>
  .nav-link {
    font-size: var(--text-minus-1);
    color: var(--_header-accent);
  }
</style>
