---
// Tools
import { Icon } from "astro-icon/components";

// Compositions
import Stack from "./compositions/Stack.astro";

// Componnets
import MobileNav from "./MobileNav.astro";
import SocialList from "./SocialList.astro";
import Button from "./ui/Button.astro";
import Filler from "./ui/Filler.astro";
import SideModal from "./ui/SideModal.astro";
import Partnership from "./Partnership.astro";
import Donate from "./Donate.astro";
---

<div class="mobile-menu">
  <Filler />
  <Stack space="space-7">
    <MobileNav />
    <Button
      style="secondary"
      size="small"
      class="support-button"
      data-open-modal
      aria-label="Open donate form modal"
      aria-expanded="false"
      >Підтримати <Icon
        name="icon-heart"
        aria-hidden="true"
        focusable="false"
      /></Button
    >

    <SideModal> <Donate /> </SideModal>
  </Stack>
  <SocialList class="mobile-menu-socials" />
</div>

<style>
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    text-align: center;

    padding-block-end: var(--space-6-fixed);
  }

  .mobile-menu-socials {
    flex: 1;

    align-items: flex-end;
  }
</style>

<script>
  // const supportButton = document.querySelector(
  //   ".support-button"
  // ) as HTMLButtonElement;

  // const closeButton = document.querySelector(
  //   ".jsModalClose"
  // ) as HTMLButtonElement;

  // console.log(supportButton);
  // console.log(closeButton);

  // supportButton?.addEventListener("click", () => {
  //   console.log("click");
  //   console.log(closeButton);
  //   closeButton?.click();
  // });
</script>
