---
// Tools
import { Icon } from "astro-icon/components";
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Stack from "./compositions/Stack.astro";

// Componnets
import MobileNav from "./MobileNav.astro";
import SocialList from "./SocialList.astro";
import Button from "./ui/Button.astro";
import Filler from "./ui/Filler.astro";
import LanguagePicker from "./LanguagePicker.astro";

// Data
import { buttonsData } from "@/data/siteData";

const currentLocale = Astro.currentLocale as Lang;
const buttons = buttonsData[currentLocale];
---

<div class="mobile-menu">
  <Filler />

  <Stack space="space-7">
    <MobileNav />

    <Button
      style="secondary"
      size="small"
      class="support-button"
      aria-label="Open donate form modal"
      data-open-donate
      >{buttons.support}<Icon
        name="icon-heart"
        aria-hidden="true"
        focusable="false"
      /></Button
    >
  </Stack>

  <SocialList class="mobile-menu-socials" />
</div>

<style>
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    text-align: center;

    padding-block-start: var(--space-8-fixed);
    padding-block-end: var(--space-6-fixed);
  }

  .mobile-menu-socials {
    flex: 1;

    align-items: flex-end;
  }
</style>
