---
// Compositions
import Cluster from "./compositions/Cluster.astro";

// Components
import Link from "./ui/Link.astro";

// Data
import { navData } from "@/data/siteData";
---

<nav>
  <Cluster tagName="ul" role="list">
    {
      navData.map((navItem) => {
        return (
          <li>
            <Link href={navItem.href}>{navItem.title}</Link>
          </li>
        );
      })
    }
  </Cluster>
</nav>

<style>
  nav li a {
    color: var(--color-accent);
  }
</style>
