---
// Tools
import type { Lang } from "@/i18n/defaultLangOptions";

// Compositions
import Stack from "./compositions/Stack.astro";

// Components
import Button from "./ui/Button.astro";
import InputGroup from "./ui/InputGroup.astro";
import UserDataAgreement from "./UserDataAgreement.astro";
import Text from "./ui/Text.astro";
import Heading from "./ui/Heading.astro";

// Data
import { cooperationData, cooperationText, buttonsData } from "@/data/siteData";

// Translations
const currentLocale = Astro.currentLocale as Lang;
const cooperationInput = cooperationData[currentLocale];
const text = cooperationText[currentLocale];
const buttons = buttonsData[currentLocale];
---

<aside class="partnership aside-modal">
  <form action="" data-form="partnership">
    <Stack space="space-4" class="header">
      <Heading tagName="h2" size="h6" class="color-secondary font-heading"
        >{text.title}</Heading
      >
      <Text tagName="p" size="small">{text.description}</Text>
    </Stack>

    <div class="main">
      <Stack space="space-5">
        {cooperationInput.map((data) => <InputGroup data={data} />)}
      </Stack>
    </div>

    <Stack space="space-7" class="footer">
      <UserDataAgreement />
      <Button style="secondary" type="submit"> {buttons.send} </Button>
    </Stack>
  </form>
</aside>

<style></style>

<script>
  import sanitizeHtml from "sanitize-html";
  import { buttonsState } from "../data/siteData.ts";
  import { getLocale } from "../lib/helpers.js";
  import type { Lang } from "@/i18n/defaultLangOptions";

  type FormValues = {
    name: string;
    organization: string;
    message: string;
    source?: string;
    email: string;
  };

  const form = document.querySelector(
    '[data-form="partnership"]'
  ) as HTMLFormElement;
  const submitButton = form?.querySelector(
    "button[type='submit']"
  ) as HTMLButtonElement;

  function resetForm() {
    form.reset();
    form.removeAttribute("data-submitting");
    submitButton.innerText = "Надіслати";
  }

  async function handleSubmit(event: SubmitEvent) {
    event.preventDefault();

    // If form is submitted, ignore
    if (form.hasAttribute("data-submitting")) return;

    const locale = getLocale(window.location.pathname) as Lang;

    // Get data
    const data = new FormData(form);
    let {
      name,
      organization,
      message,
      source = "",
      email,
    } = Object.fromEntries(data) as FormValues;

    // If no values do nohing
    if (!name || !organization || !message || !email) {
      // TODO: Show errors in the UI
      console.log("Please include all required values");
      return;
    }

    // Sanitize values
    name = sanitizeHtml(name.trim());
    organization = sanitizeHtml(organization.trim());
    message = sanitizeHtml(message.trim());
    source = sanitizeHtml(source?.trim());
    email = sanitizeHtml(email.trim());

    try {
      // Disable form
      form.setAttribute("data-submitting", "true");
      console.log(locale);
      submitButton.innerText = buttonsState[locale].ongoing;

      const request = await fetch("/api/request-partnership", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name,
          organization,
          message,
          source,
          email,
        }),
      });

      if (!request.ok) {
        throw new Error("Something went wrong with request");
      }

      const response = await request.json();

      console.log(response);

      submitButton.innerText = buttonsState[locale].success;

      setTimeout(() => {
        resetForm();
      }, 3000);
    } catch (error) {
      console.log(error);

      submitButton.innerText = buttonsState[locale].error;

      setTimeout(() => {
        resetForm();
      }, 3000);
    }
  }

  form?.addEventListener("submit", handleSubmit);
</script>
