---
// Tools

// Compositions
import Stack from "./compositions/Stack.astro";
import Button from "./ui/Button.astro";

// Components
import InputGroup from "./ui/InputGroup.astro";

// Data
import { cooperationData } from "@/data/siteData";
import Text from "./ui/Text.astro";
import Heading from "./ui/Heading.astro";
---

<aside class="partnership aside-modal">
  <form action="" data-form="partnership">
    <!-- <div class="filler"></div> -->

    <Stack space="space-4" class="header">
      <Heading tagName="h2" size="h6" class="color-secondary font-heading"
        >Запрошуємо до співпраці</Heading
      >
      <Text tagName="p" size="small"
        >Усі кошти будуть витрачені на забезпечення адміністративної діяльності
        громадської організації “Еко Місто Чернігів” та нові інноваційні проєкту
        для розвитку міста.</Text
      >
    </Stack>

    <div class="inputs-container">
      <Stack space="space-5" class="inputs">
        {cooperationData.map((data) => <InputGroup data={data} />)}
      </Stack>
    </div>

    <Stack space="space-7" class="footer">
      <div class="checkbox-group">
        <Text tagName="label" size="small" for="consent" class="color-gray-400"
          >Даю згоду на обробку персональних даних</Text
        >
        <input type="checkbox" name="consent" id="consent" required />
      </div>
      <Button style="secondary" type="submit"> Надіслати </Button>
    </Stack>
  </form>
</aside>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .filler {
    flex: 1;
    min-height: var(--space-11-fixed);
  }

  .checkbox-group {
    display: flex;
    gap: var(--space-4-fixed);
    align-items: center;

    & label {
      order: 2;
    }

    & input[type="checkbox"] {
      cursor: pointer;
      width: 24px;
      height: 24px;

      outline-color: var(--color-primary);
      accent-color: var(--color-primary);

      order: 1;
    }
  }
</style>

<script>
  import sanitizeHtml from "sanitize-html";

  type FormValues = {
    name: string;
    organization: string;
    message: string;
    source?: string;
    email: string;
  };

  const form = document.querySelector(
    '[data-form="partnership"]'
  ) as HTMLFormElement;
  const submitButton = form?.querySelector(
    "button[type='submit']"
  ) as HTMLButtonElement;

  function resetForm() {
    form.reset();
    form.removeAttribute("data-submitting");
    submitButton.innerText = "Надіслати";
  }

  async function handleSubmit(event: SubmitEvent) {
    event.preventDefault();

    // If form is submitted, ignore
    if (form.hasAttribute("data-submitting")) return;

    // Get data
    const data = new FormData(form);
    let {
      name,
      organization,
      message,
      source = "",
      email,
    } = Object.fromEntries(data) as FormValues;

    // If no values do nohing
    if (!name || !organization || !message || !email) {
      // TODO: Show errors in the UI
      console.log("Please include all required values");
      return;
    }

    // Sanitize values
    name = sanitizeHtml(name.trim());
    organization = sanitizeHtml(organization.trim());
    message = sanitizeHtml(message.trim());
    source = sanitizeHtml(source?.trim());
    email = sanitizeHtml(email.trim());

    try {
      // Disable form
      form.setAttribute("data-submitting", "true");
      submitButton.innerText = "Надсилаю...";

      const request = await fetch("/api/requestPartnership", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name,
          organization,
          message,
          source,
          email,
        }),
      });

      if (!request.ok) {
        throw new Error("Something went wrong with request");
      }

      const response = await request.json();

      console.log(response);

      // Enable form
      resetForm();
    } catch (error) {
      console.log(error);

      // Enable form
      resetForm();
    }
  }

  form?.addEventListener("submit", handleSubmit);
</script>
