---
import { Icon } from "astro-icon/components";
import Link from "./ui/Link.astro";

// Data
const { socialItem } = Astro.props;
const { title, href, icon } = socialItem;
---

<li>
  <Link href={href} class="social-link" isExternal target="_blank">
    <Icon name={icon} size={20} />
  </Link>
</li>

<style>
  @import "@styles/03-utilities/breakpoints.css";

  .social-link {
    --_circle-width: 2rem;
    --_icon-width: 14px;
    --_icon-background: var(--color-secondary);
    --_icon-color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--_icon-background);
    color: var(--_icon-color);

    width: var(--_circle-width);
    height: var(--_circle-width);

    border-radius: 99999px;

    transition:
      color var(--transition-default),
      background-color var(--transition-default);

    & svg {
      stroke: currentColor;
      height: var(--_icon-width);
      width: var(--_icon-width);
    }

    @media (--tablet-and-up) {
      --_circle-width: 3rem;

      & svg {
        --_icon-width: 20px;
      }
    }
  }

  .social-link:hover {
    --_icon-background: var(--color-primary);
    --_icon-color: var(--color-secondary);
  }
</style>
