---
// Tools
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";

// Layouts
import BaseLayout from "@/layouts/BaseLayout.astro";

// Compositions

// Components
import Heading from "@/components/ui/Heading.astro";
import Text from "@/components/ui/Text.astro";

// Data
export const getStaticPaths = (async () => {
  // filter actual posts, not drafts
  const projects = await getCollection("projects", ({ data }) => !data.isDraft);

  // return object with slug and post data
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}) satisfies GetStaticPaths;

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;

const { Content } = await project.render();
const { title, description, image } = project.data;
---

<BaseLayout>
  <Heading tagName="h1" size="h3">{title}</Heading>
  <Text tagName="p" size="large">{description}</Text>
  <div>
    <Content />
  </div>
</BaseLayout>
