---
// Tools
import { getCollection } from "astro:content";

// Compositions
// Components
import BaseLayout from "@/layouts/BaseLayout.astro";
import Heading from "@/components/ui/Heading.astro";

// Data
const projects = await getCollection("projects", ({ data }) => !data.isDraft);
---

<BaseLayout title="Проекти">
  <div>
    <Heading tagName="h2" size="h3">Активні проекти</Heading>
    {
      projects
        .filter(({ data }) => data.active)
        .map((project) => {
          return (
            <div>
              <a href={`/projects/${project.slug}`}>{project.data.title}</a>
            </div>
          );
        })
    }
  </div>

  <div>
    <Heading tagName="h2" size="h3">Архівні проекти</Heading>
    {
      projects
        .filter(({ data }) => !data.active)
        .map((project) => {
          return (
            <div>
              <a href={`/projects/${project.slug}`}>{project.data.title}</a>
            </div>
          );
        })
    }
  </div>
</BaseLayout>
