/*
* ANIMATIONS
*/

@import "../03-utilities/breakpoints.css";

:root {
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.75, 0, 1, 1);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease: cubic-bezier(0.44, 0.21, 0, 1);
}

@keyframes floating {
  0% {
    margin-top: 0px;
    transform: translate3d(0, 20px, 0);
  }
  50% {
    transform: translate3d(0, -40px, 0);
  }
}
