/*
* COLORS
*/
@import "../03-utilities/breakpoints.css";

:root {
  /* Brand colors */
  --color-primary: hsl(146, 82%, 74%);
  --color-primary-03: hsl(146 82% 74% / 0.3);
  --color-primary-light: hsl(148, 100%, 92%);
  --color-secondary: hsl(166, 100%, 14%);
  --color-accent: hsl(47, 100%, 96%);

  /* Neutral colors */
  --color-black: hsl(200, 11%, 5%);
  --color-white: hsl(255 100% 100%);

  --color-gray-100: hsl(0, 0%, 93%);
  --color-gray-200: hsl(0, 0%, 90%);
  --color-gray-400: hsl(0, 0%, 64%);
  --color-dark-gray: hsl(0, 0%, 22%);

  --color-text: hsl(168 96% 51% / 0.8);
  --color-heading: hsl(168 96% 51% / 0.8);
  --color-link: hsl(168 96% 51% / 0.8);
  --color-background: hsl(168 96% 51% / 0.8);
}
