/*
* TYPOGRAPHY 
*/

@import "../03-utilities/breakpoints.css";

:root {
  --body-base-text: 1rem; /* This means 16px */
  --body-line-height: 1.5;
  --heading-line-height: 1.2;

  /* Base font stacks */

  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  /*
  * Major second: 1.125
  * Minor third: 1.2
  * Major third: 1.25
  * Perfect fourth: 1.33
  */

  --heading-ratio: 1.25;
  --text-ratio: 1.125;

  /* Heading typographic scale */

  --heading-minus-3: calc(var(--heading-minus-2) / var(--heading-ratio));
  --heading-minus-2: calc(var(--heading-minus-1) / var(--heading-ratio));
  --heading-minus-1: calc(var(--heading-base) / var(--heading-ratio));
  --heading-base: var(--body-base-text);
  --heading-1: calc(var(--heading-base) * var(--heading-ratio));
  --heading-2: calc(var(--heading-1) * var(--heading-ratio));
  --heading-3: calc(var(--heading-2) * var(--heading-ratio));
  --heading-4: calc(var(--heading-3) * var(--heading-ratio));
  --heading-5: calc(var(--heading-4) * var(--heading-ratio));
  --heading-6: calc(var(--heading-5) * var(--heading-ratio));
  --heading-7: calc(var(--heading-6) * var(--heading-ratio));
  --heading-8: calc(var(--heading-7) * var(--heading-ratio));
  --heading-9: calc(var(--heading-8) * var(--heading-ratio));
  --heading-10: calc(var(--heading-9) * var(--heading-ratio));

  /* Text typographic scale */
  --text-minus-3: calc(var(--text-minus-2) / var(--text-ratio));
  --text-minus-2: calc(var(--text-minus-1) / var(--text-ratio));
  --text-minus-1: calc(var(--text-base) / var(--text-ratio));
  --text-base: var(--body-base-text);
  --text-1: calc(var(--text-base) * var(--text-ratio));
  --text-2: calc(var(--text-1) * var(--text-ratio));
  --text-3: calc(var(--text-2) * var(--text-ratio));

  /* Font weights */
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  @media (--tablet-and-up) {
    --body-base-text: 1.25rem; /* This means 16px */
  }
}
