---
// Components
import Header from "@/components/Header.astro";
import Head from "./Head.astro";

// Styles
import "@styles/main.css";
import Footer from "@/components/Footer.astro";
import SideDialog from "@/components/ui/SideDialog.astro";
import MobileMenuDialog from "@/components/ui/MobileMenuDialog.astro";
import Donate from "@/components/Donate.astro";
import Partnership from "@/components/Partnership.astro";
import MobileMenu from "@/components/MobileMenu.astro";
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <div id="root">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>

    <MobileMenuDialog name="mobile-menu">
      <MobileMenu />
    </MobileMenuDialog>

    <SideDialog name="donate">
      <Donate />
    </SideDialog>

    <SideDialog name="partnership">
      <Partnership />
    </SideDialog>
    <script src="../scripts/global.js"></script>
  </body>
</html>
