---
// Components
import Head from "./Head.astro";

// Styles
import "../styles/01-typography.css";
import "../styles/02-spacing.css";
import "../styles/03-colors.css";
import "../styles/04-animations.css";
import "../styles/global.css";
import "../styles/utilities.css";
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <div id="root">
      <slot />
    </div>
    <style>
      #root {
        /** TEMP  */
        padding-block: 100px;
      }
    </style>
  </body>
</html>
