---
// Components
import Header from "@/components/Header.astro";
import Head from "./Head.astro";

// Styles
import "@styles/main.css";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <div id="root">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>

    <script src="../scripts/global.js"></script>
  </body>
</html>
