---
type Props = {
  class?: string;
  [key: string]: any;
};
const { class: classList, ...rest } = Astro.props;
---

<button class:list={["unstyled", classList]} {...rest}>
  <slot />
</button>

<style>
  .unstyled {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font: inherit;
    color: inherit;

    &:focus {
      /* outline-offset: 2px; */
      outline-color: var(--color-primary);
    }

    /* &:focus:not(:focus-visible) {
      outline: none;
    } */
  }
</style>
