---
// Tools
import { Icon } from "astro-icon/components";

// Components
import Button from "./Button.astro";

type Props = {
  class?: string;
  name: string;
};

const { class: classList, name } = Astro.props;
---

<dialog class:list={[classList]} data-dialog={name}>
  <Button
    variant="icon"
    style="ghost"
    aria-label={`Close ${name}`}
    isDefault={false}
    data-close-dialog
  >
    <Icon name="icon-close" size={32} />
    <span class="sr-only">{`Close ${name}`}</span>
  </Button>

  <slot />
</dialog>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  dialog {
    inline-size: 100%;
    block-size: 100%;
    block-size: 100svh;

    background-color: transparent;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  dialog button[data-close-dialog] {
    --_icon-size: 24px;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;

    border-radius: var(--rounded-full);

    color: var(--color-white);

    transition: background-color var(--transition-default);

    & svg {
      width: var(--_icon-size);
      height: var(--_icon-size);
    }
  }

  dialog button[data-close-dialog]:hover {
    background-color: var(--color-secondary);
  }
</style>
