---
type Props = {
  class?: string;
  isRound?: boolean;
  isRoundTop?: boolean;
  isRoundBottom?: boolean;
  color?: "primary" | "secondary" | "accent" | "white" | "black";
  [key: string]: any;
};
const {
  class: classList,
  isRound = false,
  isRoundTop = false,
  isRoundBottom = false,
  color,
  ...rest
} = Astro.props;

const background = `var(--color-${color})`;
---

<section
  class:list={[
    "section",
    classList,
    { round: isRound },
    { ["round-top"]: isRoundTop },
    { ["round-bottom"]: isRoundBottom },
  ]}
  {...rest}
>
  <slot />
</section>

<style define:vars={{ background }}>
  @import "@styles/04-utilities/breakpoints.css";

  .section {
    --_border-radius: var(--rounded-2xl);
    background-color: var(--background);

    @media (--laptop-and-up) {
      --_border-radius: var(--rounded-3xl);
    }
  }

  .round {
    border-radius: var(--_border-radius);
  }

  .round-top {
    border-top-left-radius: var(--_border-radius);
    border-top-right-radius: var(--_border-radius);
  }

  .round-bottom {
    border-bottom-left-radius: var(--_border-radius);
    border-bottom-right-radius: var(--_border-radius);
  }
</style>
