---
import Cluster from "../compositions/Cluster.astro";
---

<Cluster
  alignItems="center"
  space="space-0"
  noWrap
  class="swiper-pagination-wrapper"
>
  <div class="swiper-pagination">
    <span class="swiper-pagination-progressbar-fill"></span>
  </div>
  <div class="round-corner"></div>
</Cluster>

<style>
  .swiper-pagination-wrapper {
    flex: 1;

    position: relative;
  }

  .swiper-pagination {
    width: 100%;
    height: 4px;

    background-color: var(--color-gray-200);
    border-radius: var(--rounded-full);
  }

  .round-corner {
    position: absolute;
    left: -4px;

    width: 8px;
    height: 4px;
    background-color: var(--color-secondary);

    border-start-start-radius: var(--rounded-full);
    border-end-start-radius: var(--rounded-full);
  }
</style>
